extends base

block title
  |  List of printer requests

block content-admin

  br
  br
  .container
    .well.col-xs-12.col-sm-12.col-md-12.col-lg-12
      - for user in users
        .row.user-row
          .col-xs-3.col-sm-2.col-md-1.col-lg-1
            img.img-circle(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50', alt='User Pic')
          .col-xs-8.col-sm-9.col-md-10.col-lg-10
            strong Cyruxx
            br
            span.text-muted User level: Administrator
          .col-xs-1.col-sm-1.col-md-1.col-lg-1.dropdown-user(data-for=".#{user.id}")
            i.glyphicon.glyphicon-chevron-down.text-muted
        .row.user-infos(class="#{user.id}", data-id="#{user.id}")
          .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
            .panel.panel-primary
              .panel-heading
                h3.panel-title User information
              .panel-body
                .row
                  .col-md-3.col-lg-3.hidden-xs.hidden-sm
                    img.img-circle(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100', alt='User Pic')
                  .col-xs-2.col-sm-2.hidden-md.hidden-lg
                    img.img-circle(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50', alt='User Pic')
                  .col-xs-10.col-sm-10.hidden-md.hidden-lg
                    strong Cyruxx
                    br
                    dl
                      dt User level:
                      dd #{user.admin?"Administrator":"Normal user"}
                      dt Registered since:
                      dd #{user.createAt}
                      dt Printer
                      dd #{user.printer=="accepted"?"Yes": "No"}
                  .col-md-9.col-lg-9.hidden-xs.hidden-sm
                    strong Cyruxx
                    br
                    table.table.table-user-information
                      tbody
                        tr
                          td User level:
                          td #{user.admin?"Administrator":"Normal user"}
                        tr
                          td Registered since:
                          td #{user.createAt}
                        tr
                          td Printer
                          td #{user.printer=="accepted"?"Yes": "No"}
              .panel-footer
                button.btn.btn-sm.btn-primary(type='button', data-toggle='tooltip', data-original-title='Accept')
                  i.glyphicon.glyphicon-thumbs-up
                span.pull-right
                  button.btn.btn-sm.btn-danger(type='button', data-toggle='tooltip', data-original-title='Deny')
                    i.glyphicon.glyphicon-thumbs-down

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
    script(src='/js/views/admin_users.js')
