div
  | Hi a new user was requested become designer.
  br
  hr
  br
  | User info:
  p
    | Username: #{ user.username }
    br
    | Email: #{ user.email }
    hr
    | Name: #{ user.firstName } #{ user.lastName }
    br
    | Address: #{ user.address }
    br
    | City: #{ user.city }
    br
    | Country: #{ user.country }
    br
    | Designer type #{user.designerType}
    br
    - if (user.designerType=='private')
        span fiscal code #{user.fiscalCode}
    - else
      span Vat Number #{user.VatNumber}
  hr
