extends ../layouts/_default

block title
  |  Home

block content
  .page.page-landing
    .container
      .main-banner
        img.img-responsive(src='/images/main_pattern.png', alt='3D Printer, 3D print, printer 3D, stampa 3D')
        .caption
          .slogan
            h1 #{__("Simple 3D Printing")}
            h3 #{__("Turn Ideas")}
      .section(data-scroll-index='0')
        h3.title.text-center #{__("How It Works").toUpperCase()}
        p.info.text-center
          | #{__("3doers Collective")}
          br
          | #{__("Print Your Objects")}
        .row.steps
          .col-md-4
            .step
              figure: img(src='/images/step1_icon.png')
              h4 #{__("Step 1")}
              a(href='#') #{__("No Design")}
          .col-md-4
            .step
              figure: img(src='/images/step2_icon.png')
              h4 #{__("Step 2")}
          .col-md-4
            .step
              figure: img(src='/images/step3_icon.png')
              h4
                | #{__("Step 3")}
        .control-links
          a.btn.btn-lg.btn-green(href='/project/upload', onClick="goog_report_conversion()") #{__("Start Printing")}
      .box(data-scroll-index='1')
        .row
          .col-md-7
            .content.content-white.printer-bg
              h3 #{__("Have 3D printer")}
              p
                | #{__("Bought Printer")}
                br
                | #{__("Join Community")}
                br
                | #{__("We Offer You")}
              a.btn.btn-lg.btn-simple(href='/become') #{__("Become A Printer")}
          .col-md-5
            .content.content-blue
              h3 #{__("Designer")}
              p #{__("Creates Models")} #{__("Design For Us")}
              a.btn.btn-lg.btn-simple-inverse(href='/profile/settings#upgradeYourProfile') #{__("Start designing")}
      .contact(data-scroll-index='2')
        .inner
          .row
            .col-lg-3.col-md-3
              h3 #{__("Contact Us").toUpperCase()}
              p.info #{__("Need Help")} #{__("Help Paragraph")}
                a(href='mailto:info@3doers.it')  #{__("Email")}
          br
          br
          br
          .row
            .col-md-5.col-md-offset-7
              p.text.white #{__("Printing Continents")}
              p.text.green #{__("Worldwide Service")}
  script(type='text/javascript').
    /* <![CDATA[ */
    goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 938100385;
    w.google_conversion_language = "en";
    w.google_conversion_format = "3";
    w.google_conversion_color = "ffffff";
    w.google_conversion_label = "RnlyCKL_tGAQoY2pvwM";
    w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    window.google_is_call = true;
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
    window.location = url;
    }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
    }
    }
    /* ]]> */
  script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion_async.js')
