extends ../layout

block title
  |  Home

block body
  div
    .container
      h1.page-title
        span Welcome To 3Doers
      h1.page-title
        span Find A 3D Printer For
      h1.page-title
        span Your Project Or Start
      h1.page-title
        span Printing Others
      h4.h4-3d
        | 3DOERS IS A FAST COLLECTIVE 3D PRINTING SERVICE.
        br
        | YOU CAN UPLOAD, PRINT OR WORK ON THE FILES.
        br
        | LEARN HOW TO DO IT HERE.
      br

    .slider-3d
      .flexslider
        ul.slides
          li: img(src="/img/yoda_gallery_img.png", alt='3d printer')
          li: img(src="/img/user_gallery_img.png", alt='3d printer')
          li: img(src="/img/printer_gallery_img.png", alt='3d printer')
          li: img(src="/img/filemanager_gallery_img.png", alt='3d printer')
      .square

    .main-slider-bottom
      img(src='img/gallery_image.png')
    br
    br
    br

  .section.primary
    .container
      if user
        h2.h2-3d
          | APPLICAKE BROWNIE
          br
          | BEAR CLAW SWEET
          h5.h5-3d
            | Snaps wafer soufflé. Caramels chocolate ice
            br
            | cream bonbon wafer oat cake bear claw. Choco-
            br
            | late bar danish sweet
      else
        h2.h2-3d.text-shadow-white SIGN UP!
        h3.h3-3d
          | Join to our community and start the collective
          br
          | 3D printing.
        br
        br
      .row
        .col-md-4
          a.btn.btn-default.btn-lg.btn-block(href='/project/upload')
            span UPLOAD A PROJECT
          br
        - if (!(user && user.printer == 'accepted'))
          .col-md-4
            a.btn.btn-default.btn-lg.btn-block(href='/become')
              span BECOME A PRINTER
            br
        - if (!(user && user.filemanager == 'accepted'))
          .col-md-4
            a.btn.btn-default.btn-lg.btn-block(href='#')
              span BECOME A FILE MANAGER
  div
    .container
      br
      br
      br
      br
      br
      br
      .row
        .col-md-7
          h1.page-title
            span Are You Sure That
          h1.page-title
            span Your File Is Ready
          h1.page-title
            span To Be Printed?
          h2.file-revision
            | No!
            a.default-hover(href='#') So Click Here For A File Revision
          br
          br
        .col-md-5
          p.text-center
            img(src='/img/icona3d_homepage.png')

      if user
        div
          .container
              br
              br
              br
              br
              h1.page-title
                span LAST PROJECTS
              br
              br
              br
              br
              .row
                for project in projects
                  .col-md-4
                    .project-single
                      img(src='/#{project.file}')
                      .info
                        .info-wrapper
                          a(href='/project/#{project.id}')
                            | Applicake Brownie Bear Claw Sweet Sesame Snaps Wafer Soufflé. Caramels Chocolate Ice Cream Bonbon Wafer Oat Cake Bear Claw. Chocolate Bar Danish Sweet
                br
          div
            .container
              br
              br
              br
              br
              .row
                .col-md-5.col-md-offset-7
                  h1.page-title.right
                    span COMMUNITY
              br
              br
              br
              br
              .row
                for _user in users
                  .col-md-2.col-md-2-5
                    .community-single
                      a(href='#')
                      - if (_user.photo)
                        img(width='100%', height='100%', src='/#{ _user.photo }', alt='#{ _user.firstName } #{ _user.lastName }')
                      - else
                        img(width='100%', height='100%', src='/img/edit_photo_placeholder.png?1396277523', alt='profile image')
      br
      br
      br
      br
      include ../includes/publicity
      br
      br
      br
      br

block scripts
  script(src='/vendor/jquery.flexslider-min.js')
  script(type='text/javascript')
    $(window).load(function() {
      $('.flexslider').flexslider({
        'controlNav': false,
        'prevText': '',
        'nextText': ''
        });
      });
