extends base

block title
    |  Your Projects
block content-profile
    .container
        br
        br
        br
        br
        - if (projects.length == 0)
            p.info-3d There is not any project yet for this list.
        - for (project in projects)
            - project = projects[project]
                a.black-3doers(href='/design/project/#{project.id}')
                    div.tile.col-md-3.tile-projects
                        h3.text-ellipsis #{project.title}
                        p Status
                            b  #{project.humanizedStatus()}
                        img(src='/img/icons_#{project.dasherizedStatus()}.png')
//- block extra-headers
//-   meta(name="csrf-token", content="#{csrfToken}")
//-
block scripts
    script(src='/js/views/printing_jobs.js')