
extends base

block title
  |  Designer :: Your Proposal

block content-profile
  .tab-content
    if !toApply
      .container
        h3 You need to complete at least one previous order before you can accept another one.
        br
        br
    - if (error.length != 0)
      p.info-3d #{error}
    #projects.panel-group.panel-group-3d
      - if (projects.length == 0)
        .container
          p.info-3d There is not any project yet for this list.
      - for (project in projects)
        - project = projects[project]
        .panel
          .panel-heading
            .container
              h4.panel-title
                span DESIGN NAME:
                | #{project.title}
                br
                br
                span
                | #{project.abstract}
                a.accordion-btn.collapsed(data-toggle='collapse', data-parent='#projects', href='#project-#{project.id}')
          div.panel-collapse.collapse(id='project-#{project.id}')
            .panel-body
              .container
                br
                br
                //p.info-3d
                //  span.title FILE NAME:
                //  | #{project.resources}
                //br
                p.info-3d
                  span.image.align-left
                    img(src='/img/icons_#{project.dasherizedStatus()}.png')
                  span.title STATUS
                  | #{project.humanizedStatus()}
                br
                br
                p.info-3d
                  span.image.align-left
                    img(src='/img/icons_time_order.png')
                  span.title QUESTO PROGETTO ASPETTA DA: #{timeago(project.createAt)}
                br
                br

              .section.primary
                .container
                    .row
                      .col-md-4
                        if project.resources.length>0
                          each val, index in project.resources
                            - var n=index
                            p
                                a(href="/"+val)
                                    img(src='/img/icon_download.png')
                                    |  Resource#{++n}

                      .col-md-7
                        .printer-properties
                          h4 Description
                          p #{project.description}
              br
              br

              .container
                br
                br
                br
        .container
          .divider





block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")
