div
  | Hi a new user was requested become printer.
  br
  hr
  br
  | User info:
  p
    | Username: #{ user.username }
    br
    | Email: #{ user.email }
    hr
    | Name: #{ user.firstName } #{ user.lastName }
    br
    | Address: #{ user.address }
    br
    | City: #{ user.city }
    br
    | Country: #{ user.country }
    br
  hr
  | Printer detail:
  p
    | Printer Model: #{ printer_model }
    br
    | Printer City: #{ printer_city }
    br
    | How long print: #{ printer_howlong }