
extends base

block title
  |  Your Projects

block content-profile
    .tab-content
      #projects
        - if (projects.length == 0)
          p.info-3d There is not any project yet for this list.
        - for (project in projects)
          - project = projects[project]
            p.info-3d
              span.title NAME:
              a(href='/project/#{project.id}') #{project.title}
              br
              span.title FILE NAME: #{project.file}
            br
            p.info-3d
              span.title STATUS
              | #{project.humanizedStatus()}
              span.image.align-right
                img(src='/img/icons_#{project.dasherizedStatus()}.png')
              br
              - if (project.order)
                span.title PRICE:
                span.price #{project.order.price}
                span.currency EURO
            br
            .separator-3d
              img(src='/img/img_separatori_lista.png')

div
  .container
    br
    br
    br
    .row
      .col-md-5
        p.text-center
          img(src='/img/publicity_homepage.png')
        br
      .col-md-7
        h1.page-title.small.right
          span Welcome To 3Doers
        h1.page-title.small.right
          span Find A 3D Printer For Your Project
        h1.page-title.small.right
          span Or Start Printing Others
    br
    br
    br
    br

block scripts
  script(src='/js/views/project_list.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
