
extends base

block title
  |  Your Projects

block content-profile
    div.well.col-md-10.center-block
      form(method="post", action="/profile/settings", role="form", id="registration", class="form-horizontal")
        fieldset
          legend Account Form

          input(type='hidden', name='_csrf', value=csrfToken)

          .form-group
            label(for="username", class="control-label col-md-3") Username
            .col-md-8
              p.form-control-static #{user.username}

          .form-group
            label(for="email", class="control-label col-md-3") Email
            .col-md-8
              p.form-control-static #{user.email}

          .form-group(class=(locals.errors && errors.firstName)?"has-error":"")
            label(for="firstName", class="control-label col-md-3") First Name
            .col-md-8
              input(type="text", class="form-control", name="firstName", id='firstName', placeholder="Enter your first name", value="#{user.firstName}")
              - if (locals.errors && errors.firstName)
                span(class="help-block")
                  = errors.firstName.msg

          .form-group(class=(locals.errors && errors.lastName)?"has-error":"")
            label(for="lastName", class="control-label col-md-3") First Name
            .col-md-8
              input(type="text", class="form-control", name="lastName", id='lastName', placeholder="Enter your last name", value="#{user.lastName}")
              - if (locals.errors && errors.lastName)
                span(class="help-block")
                  = errors.lastName.msg

          .form-group(class=(locals.errors && errors.address)?"has-error":"")
            label(for="address", class="control-label col-md-3") Address
            .col-md-8
              input(type="text", class="form-control", name="address", id='address', placeholder="Address")
              - if (locals.errors && errors.address)
                span(class="help-block")
                  = errors.address.msg

          input(name="city", id="city", type="hidden")
          input(name="country", id="country", type="hidden")
          input(name="location", id="location", type="hidden")

          button(type="submit").btn.btn-primary.btn-lg.center-block
            span.glyphicon.glyphicon-hand-right
            | &nbsp;&nbsp;&nbsp; Update

block scripts
    script(src='/js/views/settings.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
    script(type='text/javascript', src='/vendor/jsc3d.min.js')
    script.
      var address = "#{user.address}"
