extends ../layouts/_app

block title
    | Notifications

block content
  .page
    .container
      br
      br
      .row
        include ../includes/banner

    .bg-3doers
      .container
        h1 Message Notifications Page of #{user.username}
        if (userNotif.length == 0)
          p.info-3d There is not any notification
          -function prettyDate(dateString){
            -var date = new Date(dateString);
            -var d = date.getDate();
            -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
            -var m = monthNames[date.getMonth()];
            -var y = date.getFullYear();
            -var h = date.getHours()
            -var mm = date.getMinutes()
            -return d+'/'+m+'/'+y+' at '+h+':'+mm;
          -}
        ul#list-group-notif.list-group
          - each notify in userNotif
            li(id=notify.id,class=(notify.read==false?'active-greeen-3doers':'')).list-group-item.col-sm-10
              a(href= '/project/#{notify.relatedObject}')
                .col-sm-10 #{notify.title}  @#{prettyDate(notify.createAt)}
                .col-sm-2
                  -if (notify.read==false)
                    form(action='/notification/read/#{notify.id}',method='POST').col-sm-4.col-sm-offset-4
                      button(type='submit').btn-sm.btn-default
                        span.glyphicon.glyphicon-thumbs-up
                  -else
                    .col-sm-4.col-sm-offset-4

                  form(action='/notification/delete/#{notify.id}',method='POST').col-sm-4
                    button(type='submit').btn-sm.btn-danger
                      span.glyphicon.glyphicon-remove

        br
        br
