extends ../../layouts/_app


block title
  |  Your Projects

block content
  .page
    .container
      br
      br
      .row
        include ../../includes/banner

    .bg-3doers
      .container
        div(role='tabpanel')
          ul.nav.nav-tabs.nav-justified.nav-tabs-3doers(role='tablist')
            li
              a(href='/printing/requests', aria-controls='workplace') WorkPlace
            li
              a(href='/printing/jobs', aria-controls='printing') Printing
            li
              a(href='/design/projects', aria-controls='designing') Designing
            li.active
              a(href='/printing/archived', aria-controls='completed') Completed

          .tab-content
            .tab-pane.fade.in.active(id='workplace', role='tabpanel')
            - if (designProjects.length==0 && printingProjects.length==0)
              h4.light There is not any project yet for this list.
            - else
              h4.light Here you can find printing and design jobs
              br
              .row
                - for (project in printingProjects)
                  - project = printingProjects[project]
                  .col-md-3.col-sm-6
                    article.job
                      h4.job-name #{project.title}
                      figure.job-image: img.img-responsive(src='/#{project.image}')
                      .form-group.text-center
                        a.btn.btn-lg.btn-green.review(href="/project/#{ project._id }") #{project.humanizedStatus()}
                - for (project in designProjects)
                  - project = printingProjects[project]
                  .col-md-3.col-sm-6
                    article.job
                      h4.job-name #{project.title}
                      figure.job-image: img.img-responsive(src='/#{project.image}')
                      .form-group.text-center
                        a.btn.btn-lg.btn-green.review("#") #{project.humanizedStatus()}
        br
        br

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js')
  script(src='/js/views/printing_requests.js')
  script
    $(document).ready(function(){
      $('.job-wtime h5').each(function(element){
        var now = moment(), // get the current moment
        // May 28, 2013 @ 12:00AM
        then = moment($(this).data('time')),
        // get the difference from now to then in ms
        ms = then.diff(now, 'milliseconds', true);

        // update the duration in ms
        ms = then.diff(now, 'milliseconds', true);
        // get the duration as months and round down
        var months = Math.floor(moment.duration(ms).asMonths());

        // subtract months from the original moment (not sure why I had to offset by 1 day)
        then = then.subtract('months', months).subtract('days', 1);
        // update the duration in ms
        ms = then.diff(now, 'milliseconds', true);
        var days = Math.floor(moment.duration(ms).asDays());

        then = then.subtract('days', days);
        // update the duration in ms
        ms = then.diff(now, 'milliseconds', true);
        var hours = Math.floor(moment.duration(ms).asHours());

        then = then.subtract('hours', hours);
        // update the duration in ms
        ms = then.diff(now, 'milliseconds', true);
        var minutes = Math.floor(moment.duration(ms).asMinutes());

        // concatonate the variables
        var diff = "" + hours + "h " +  minutes + "m";

        $(this).html(diff);
      });
    });

