
extends ../printing/base

block title
  |  Your Projects

block content-profile
  .tab-content
   .container
    if !toApply
        h3 You need to complete at least one previous order before you can accept another one.
        br
        br
     #projects
      - if (projects.length == 0)
          p.info-3d There is not any project yet for this list.
      - for (project in projects)
        - project = projects[project]
          .black-3doers
           .tile.col-md-3.tile-projects
            h3
             b #{project.title}
              p.project-tile-status Status
                b  #{project.humanizedStatus()}
              img.margin-img-10(src='/img/icons_#{project.dasherizedStatus()}.png')
              a.col-md-offset-3(href=toApply?"/printing/review/#{ project.id }":"#", class="btn-default btn-lg btn-3doers-new  review") Accept


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
    script(src='/js/views/printing_requests.js')
