
extends ../base

block title
  |  Your Project

block body
  div
    .container
      .row
        .col-md-6
          h1#title.page-title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{ project.title }
      - if (user.printer == 'accepted' && project.status > statuses.PRINT_REQUESTED[0])
        .row
          .col-md-6
            .back-link
              a(href='/printing/jobs')
                img(src='/img/return_to_jobs.png')
                | Return to jobs available
          .col-md-6
            .download-link
              a(href='/#{ project.file }')
                | Scarica Qui Il File
                img(src='/img/icon_download.png')
      br
      br
      br
      .preview-print
        #wrapper-canvas
          canvas#cv
      br
      br
      br
      br
      br
      br

  // processed
  - if (project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0])
    div
      .container
        div
          p
            span OBJECT VOLUME:&nbsp;
            | 10.6763378264 cm3
          p
            span STATUS:&nbsp;
            | PROCESSED
            img(src='/img/icons_#{project.dasherizedStatus()}.png')
        br
        br
        br
        br
        br

    .section.primary
      .container
        br
        form(action='/project/order/#{project.id}', method='POST', role='form', accept-charset='utf-8', name='')
          input(type='hidden', name='_csrf', value=csrfToken)
          .row
            .col-md-4
              .form-group
                select.form-control#color-chooser
                  option(selected='selected', disabled='disabled') SELECT A COLOR *
                  - for color in colors
                    option(value="#{color}") #{color}
              .form-group
                input(type='hidden', name='authenticity_token')
                input#ammount.form-control(type='number', min='1', placeholder='HOW MANY ITEMS? *', name='ammount')
              .form-group
                select.form-control#density-chooser
                  option(selected='selected', disabled='disabled') SELECT A DENSITY *
                  - for density in densities
                    option(value="#{density[0]}") #{density[1]}
              p
                | ORDER PRICE:&nbsp;
                span#order-price  Processing
            .col-md-4
              button.btn.btn-default.btn-lg.btn-block(type='submit') PLACE ORDER
        br

  - if (!(project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0]))
    .section.primary
      .container
        .row
          .col-md-3.col-sm-6
            .printer-properties
              h4 Status
              p #{project.humanizedStatus()}
              br
              img(src='/img/icons_#{project.dasherizedStatus()}_second.png')
          .col-md-3.col-sm-6
            .printer-properties
              h4 Volume:
              p #{project.volume} cm3
              h4 Density
              p #{project.density}
              h4 Weight
              p #{project.weight}
          .col-md-3.col-sm-6
            .printer-properties
              h4 Ammount:
              p #{project.order.ammount}
              h4 Dimension:
              p #{project.order.dimension} # this still on development
              h4 Price
              p
                strong #{project.order.price} EURO
          .col-md-3.col-sm-6
            .printer-properties
              h4 Resolution
              p #{project.order.resolution} # this still on development
              if project.order.shippingCharge
                h4 Shipping
                p #{project.order.shippingCharge}
    br
    br
    br
    - if (user.printer == 'accepted' && project.status == statuses.PRINT_REVIEW[0])
      div
        .container
          .row
            .col-md-3.col-sm-6
              a#accept.btn.btn-lg.btn-default.btn-goto(href='/printing/accept/#{project.id}')
                span ACCEPT
                  br
                  | THIS WORK
              br
              br
              br
            .col-md-3.col-md-offset-1.col-sm-6
              a#deny.btn.btn-lg.btn-red.btn-goto(href='/printing/deny/#{project.id}')
                span DENY
                  br
                  | THIS WORK
              br

    - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.order.printer)
      .section.orange
        .container
          h1.h1-alert-payment
            span ATTENDI IL PAGAMENTO!
              br
              | RICEVERAI UNA MAIL DI CONFERMA
            img(src='/img/alert_payment.png', alt='')

    - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.user)
      .section.blue
        .container
          form#payment-form
            h1.h1-blue-alert
              img(src='/img/icon_map.png', alt='')
              | LO STAMPATORE E A
              br
              | 20 KM DA TE
            .row
              .col-md-6.col-sm-6
                .radio.radio-large
                  input#checkbox1(type='radio', name='shipping', value='shipping', checked)
                  label(for='checkbox1') Richiedi spedizione
              .col-md-6.col-sm-6
                .radio.radio-large
                  input#checkbox2(type='radio', name='shipping', value='pickup')
                  label(for='checkbox2') Ritiro a mano
            br
            button.btn.btn-lg.btn-white.btn-small(type='submit')
              span PAGA

          form#hidden-pay-form(action="/project/pay/#{project.id}", method="post")
            input(type='hidden', name='_csrf', value=csrfToken)
            input#shippingAddress(type='hidden', name='shippingAddress')
            input#shippingMethod(type='hidden', name='shippingMethod')
            input#shippingRate(type='hidden', name='shippingRate')

    - if (project.status == statuses.PAYED[0] && user.id == project.order.printer)
      .section
        .container
          .row
            form.form-inline(role="form", action="/project/start-printing/#{project.id}", method="post").col-md-12
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type="submit", value="Print Order").btn.btn-lg.btn-default.btn-goto

    - if (project.status == statuses.PRINTING[0] && user.id == project.order.printer)
      .section
        .container
          .row
            form.form-inline(role="form", action="/project/printed/#{project.id}", method="post").col-md-12
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type="submit", value="Order Printed").btn.btn-lg.btn-default.btn-goto

    - if (project.status == statuses.SHIPPING[0] && user.id == project.user)
      .section
        .container
          .row
            form.form-inline(role="form", action="/project/archive/#{project.id}", method="post").col-md-12
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type="submit", value="Archive").btn.btn-lg.btn-default.btn-goto

    - if (project.status == statuses.PRINTED[0] && user.id == project.order.printer)
      .section
        .container
          .row
            form.form-inline(role="form", action="/project/archive/#{project.id}", method="post").col-md-12
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type="submit", value="Picked up").btn.btn-lg.btn-default.btn-goto

    - if (project.status >= statuses.PRINT_REVIEW[0])  // if project was accepted
        br
        br
        br
        .container
          .row
            .col-md-7
              .comment-title
                img(src='/img/icons_comment_2.png', alt='')
                h1.page-title
                  span Comments Here
                h1.page-title
                  span For Your Project
          br
          br
          br
          .row
            .col-md-8#comment-list
              - for comment in project.comments
                .media
                  a.pull-left(href='#')
                    img.media-object(src='/#{comment.photo}', alt='', width='78', height='78')
                  .media-body
                    p
                      | #{comment.content}
                  .media-meta
                    | by&nbsp;
                    span.author #{comment.username}&nbsp;
                    | at&nbsp;
                    span.date #{comment.createdAt}
        br
        .section.primary
          .container
            .row
              .col-md-10.col-sm-10
                textarea#comment-text.comment.form-control(rows=6)
              .col-md-2.col-sm-2
                button.btn.btn-lg.btn-default.btn-goto#comment-button
                  span SEND

  br
  br
  br
  br

  include ../../includes/publicity

  - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.user)
    #payment-modal.modal.modal-3d.fade.in
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
                span.sr-only Close
            h4.modal-title Shipping
          .modal-body
            div#address-selection
              h5 Select the address where we has to ship.
              // Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.active
                  a(href='#saved', role='tab', data-toggle='tab') Saved
                li
                  a(href='#new', role='tab', data-toggle='tab') New
              //
                 Tab panes
              .tab-content
                #saved.tab-pane.active.fade.in
                  - if (user.shippingAddresses.length > 0)
                    for address in user.shippingAddresses
                      div
                        dl
                          - for (key in address._doc)
                            dt #{ key }
                            dd #{ address[key] }

                        a.select-saved-address(data-id="#{ address.id }", href="#") Select
                  - else
                    | you don't have saved any address
                  button.close-payment-modal Cancel
                #new.tab-pane.fade
                  form
                    .form-group
                      input.form-control.input-text(type='text', placeholder='CONTACT (FILL THIS OR COMPANY)', name='contact')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='COMPANY (FILL THIS OR CONTACT)', name='company')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='LINE 1', name='line1')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='LINE 2 (OPTIONAL)', name='line2')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='LINE 3 (OPTIONAL)', name='line3')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='CITY', name='city')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='STATE', name='state')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='ZIP CODE', name='zip_code')
                    .form-group
                      input.form-control.input-text(type='text', placeholder='PHONE NO.', name='phone_no')
                    .form-group
                      select(name="country")
                        for country in countries
                          option#country(value='#{ country.abbr }') #{ country.name }
                    .text-right
                      button#validate-address.btn.btn-default.btn-lg.btn-xsmall
                        span Validate
                  button.close-payment-modal Cancel
            div#pay-values(style='display: none;')
              h5 Pay Now
              p Price:&nbsp;
                span#pay-product-price
              p Estimated Shipping:&nbsp;
                span#pay-shipping-price
              hr
              p Estimated Total:&nbsp;
                span#pay-total-price

              button.close-payment-modal Cancel
              button#pay-payment-modal.btn.btn-default.btn-lg.btn-xsmall Pay

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
  script(type='text/javascript', src='/vendor/jquery.jeditable.js')
  script(type='text/javascript', src='/js/views/project_detail.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
  script(type='text/javascript', src='/vendor/socket.io.min.js')
  script.
    var project = {
      id: "#{project._id}",
      filename: "#{project.file}",
      color: "#{project.color?project.color:'black'}",
      density: "#{project.density}",
      orderPrice: #{project.order.price}
    };
    var port = "#{io.port}";
    $(document).ready(
      function() {
        $('#deny, #accept').click(
          function(event) {
            event.preventDefault();
            $.post($(this).attr('href'), function(){location.reload();})
          }
        );
      }
    );


    var mycanvas = $('#cv');

    function respondCanvas() {
      mycanvas.attr('width', jQuery("#wrapper-canvas").width());
      mycanvas.attr('height', jQuery("#wrapper-canvas").height());
    }

    $(window).resize(respondCanvas);

    //Initial call
    respondCanvas();

