extends ../base

block body
    -if (!doc.rating)
        form(action='/project/feedback/#{project.id}',method='POST').form-horizontal
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Quality of the realized object
                .col-sm-7
                    input(type="number",name='quality',data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group

                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Comunication with the printer
                .col-sm-7
                    input(type="number",name='comunication',data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Speed of realization
                .col-sm-7
                    input(type="number",name='speed',data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 General satisfation level
                .col-sm-7
                    input(type="number",name='satisfation',data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            br
            br
            br
            .from-group.text-center
                input(type='Submit').btn-default.btn-lg.btn-3doers-new.margin-top-30
    -else
        form.form-horizontal
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Quality of the realized object
                .col-sm-7
                    input(type="number",name='quality',value='#{doc.rating.quality}',data-readonly="true",data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group

                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Comunication with the printer
                .col-sm-7
                    input(type="number",name='comunication',value='#{doc.rating.comunication}',data-readonly="true",data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 Speed of realization
                .col-sm-7
                    input(type="number",name='speed',value='#{doc.rating.speed}',data-readonly="true",data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
            .from-group
                label.col-sm-3.col-sm-offset-2.control-label.margin-top-30 General satisfation level
                .col-sm-7
                    input(type="number",name='satisfation',value='#{doc.rating.satisfation}',data-readonly="true",data-min=0,data-max=5,data-show-clear="false",step=0.5,data-size="lg").rating.form-control-feedback
