extends base

block title
  |  Reset Password Complete

block body
  div
    .container
        h1.page-title
          span Reset
        h1.page-title
          span Password
    br
    br
    .section.primary
      .container
        .row
          .col-md-6.col-sm-7
            if locals.message
              | #{ message }
            else
              form#registration(action='/accounts/reset-password/complete/#{ token }', method='POST', role='form', accept-charset='utf-8', name='reset-form')
                input(type='hidden', name='_csrf', value=csrfToken)
                .form-group
                  input.form-control.dark.input-text.input-lg(type='password', placeholder='PASSWORD', name='password')
                .form-group
                  input.form-control.dark.input-text.input-lg(type='password', placeholder='CONFIRM PASSWORD', name='confirm')
                br
                br
                br
                br
                .form-group
                  .row
                    .col-md-8.col-sm-7
                      button.btn.btn-xlg.btn-default.btn-block(type='submit')
                        span UPDATE PASSWORD

    br
    br
    include ../includes/publicity
    br
    br
    br

block scripts
  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
