
extends ../printing/base

block title
  |  Your Projects

block content-profile
  .tab-content
    #projects.panel-group.panel-group-3d
      - if (projects.length == 0)
        .container
          p.info-3d There is not any project yet for this list.
      - for (project in projects)
        - project = projects[project]
        .panel
          .panel-heading
            .container
              h4.panel-title
                span PROJECT NAME:
                | #{project.title}
                a.accordion-btn.collapsed(data-toggle='collapse', data-parent='#projects', href='#project-#{project.id}')
          div.panel-collapse.collapse(id='project-#{project.id}')
            .panel-body
              .container
                br
                br
                p.info-3d
                  span.title FILE NAME:
                  | #{project.file}
                br
                p.info-3d
                  span.image.align-left
                    img(src='/img/icons_#{project.dasherizedStatus()}.png')
                  span.title STATUS
                  | #{project.humanizedStatus()}
                br
                br
                p.info-3d
                  span.image.align-left
                    img(src='/img/icons_time_order.png')
                  span.title QUESTO ORDINE ASPETTA DA: #{timeago(project.order.placedAt)}
                br
                br

              .section.primary
                .container
                    .row
                      .col-md-6
                      .col-md-3
                        .printer-properties
                          h4 Volume
                          p #{project.volume} cm3
                          h4 Density
                          p #{project.density}
                          h4 Weight
                          p #{project.weight}
                      .col-md-3
                        .printer-properties
                          h4 Ammount
                          p #{project.ammount}
                          h4 Dimensions
                          p #{project.dimensions}
                    //- There is no comments at this status :S
                    //- hr.hr-light
                    //- .comment-user
                    //-   h3 Comment By The User
                    //-   br
                    //-   .comment
                    //-     p
                    //-       | Liquorice jelly beans applicake gummi bears candy canes. Dragée bear claw candy canes. Pie muffin cheesecake.
                    //-       br
                    //-       | Candy jelly biscuit marzipan gummi bears muffin chupa chups danish liquorice.
                    //-       br
                    //-       | Applicake pastry applicake biscuit.

              br
              br
              .container
                a(href="/printing/review/#{ project.id }", class="btn btn-default btn-lg btn-medium review")
                  span ACCEPT
                br
                br
                br
        .container
          .divider


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
    script(src='/js/views/printing_requests.js')
