.share
  .addthis_toolbox
    %a.addthis_button_facebook.sharebt{ :"fb:like:href"=>"#{url}", :"addthis:url"=>"#{url}", :"addthis:title" => "#{title}" }
      %i.fa.fa-facebook
    %a.addthis_button_twitter.sharebt{ :"tw:url"=>"#{twitter_url}", :"addthis:url"=>"#{twitter_url}", :"addthis:title"=>"#{twitter_title}" }
      %i.fa.fa-twitter
    %a.addthis_button_google_plusone_share.sharebt{ :"addthis:url"=>"#{url}", :"addthis:title" => "#{title}"}
      %i.fa.fa-google-plus
    %a.addthis_button_linkedin_share.sharebt{ :"addthis:url"=>"#{url}", :"addthis:title"=>"#{title}" }
      %i.fa.fa-linkedin