extends base

block title
  |  Your Profile


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block body
  .container
    .row
      .col-md-6
        !{ title }

  br
  .section.primary
    .container
      .row
        .col-md-6.col-sm-7
          form(action='#{ postURL }', method='post')
            input(type='hidden', name='authenticity_token')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              input.form-control.input-text.input-lg(value=(address.contact)?"#{address.contact}":"", type='text', placeholder='CONTACT', name='contact')
            .form-group
              input.form-control.input-text.input-lg(value=(address.company)?"#{address.company}":"", type='text', placeholder='COMPANY', name='company')
            .form-group
              input.form-control.input-text.input-lg(value=(address.line1)?"#{address.line1}":"", type='text', placeholder='LINE 1', name='line1')
            .form-group
              input.form-control.input-text.input-lg(value=(address.line2)?"#{address.line2}":"", type='text', placeholder='LINE 2', name='line2')
            .form-group
              input.form-control.input-text.input-lg(value=(address.line3)?"#{address.line3}":"", type='text', placeholder='LINE 3', name='line3')
            .form-group
              input.form-control.input-text.input-lg(value=(address.city)?"#{address.city}":"", type='text', placeholder='CITY', name='city')
            .form-group
              input.form-control.input-text.input-lg(value=(address.state)?"#{address.state}":"", type='text', placeholder='STATE', name='state')
            .form-group
              input.form-control.input-text.input-lg(value=(address.zip_code)?"#{address.zip_code}":"", type='text', placeholder='ZIP CODE', name='zip_code')
            .form-group
              input.form-control.input-text.input-lg(value=(address.phone_no)?"#{address.phone_no}":"", type='text', placeholder='PHONE NO.', name='phone_no')
            .form-group
              select(name="country")
                for country in countries
                  option#country(value='#{ country.abbr }') #{ country.name }

            br
            br
            br

            .form-group
              button#submit.btn.btn-default.btn-lg.btn-medium(type='submit')
                span UPDATE

    .right-hand.top.hidden-xs
      img(src='/img/hand_register.png', alt='3doers Hand')

  br
  br
  br
  br

  include ../../includes/publicity

block scripts
  if locals.message
    script
        alert("#{ message }");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key]}");

  if (address.country)
    script
      $("#country").val("#{ address.country }");
