extends ../../layouts/_app


block title
  |  Your Projects

block content
  .page
    .container
      br
      br
      .row
        include ../../includes/banner

    .bg-3doers
      .container
        div(role='tabpanel')
          ul.nav.nav-tabs.nav-justified.nav-tabs-3doers(role='tablist')
            li.active
              a(href='/profile/projects', aria-controls='workplace') WorkPlace
            li
              a(href='/profile/onprint', aria-controls='printing') Printing
            li
              a(href='/design/projects', aria-controls='designing') Designing
            li
              a(href='/profile/archived', aria-controls='completed') Completed

          .tab-content
            .tab-pane.fade.in.active(id='workplace', role='tabpanel')
            - if (printingProjects.length == 0 && designProjects.length==0 && projects.length==0)
              h4.light There is not any project yet for this list.
            - else
              h4.light Here you can find printing and design jobs
              br
              .row
                - if (printingProject.length > 0)
                  - for (project in printingProjects)
                  - project = printingProjects[project]
                    .col-md-3.col-sm-6
                      article.job
                        h4.job-name #{project.title}
                        h6.job-created-at Created on 11/Apr/2015 at 6:25 pm
                        figure.job-image: img.img-responsive(src='#{project.image}')
                        .job-status
                          i Status:
                          | ORDER REVIEW

                .col-md-3.col-sm-6
                  article.job
                    h4.job-name Small_frog.stl
                    h6.job-created-at Created on 11/Apr/2015 at 6:25 pm
                    figure.job-image: img.img-responsive(src='/images/job.jpg')
                    .job-status
                      i Status:
                      | ORDER REVIEW
                .col-md-3.col-sm-6
                  article.job
                    h4.job-name Small_frog.stl
                    h6.job-created-at Created on 11/Apr/2015 at 6:25 pm
                    figure.job-image: img.img-responsive(src='/images/job.jpg')
                    .job-status
                      i Status:
                      | ORDER REVIEW
                .col-md-3.col-sm-6
                  article.job
                    h4.job-name Small_frog.stl
                    h6.job-created-at Created on 11/Apr/2015 at 6:25 pm
                    figure.job-image: img.img-responsive(src='/images/job.jpg')
                    .job-status
                      i Status:
                      | ORDER REVIEW
        br
        br

//- extends base


//- block content-profile
//- .container
//-     br
//-     br
//-     br
//-     br
//-     - if (printingProjects.length == 0&&designProjects.length==0)
//-     p.info-3d
//-     - for (project in printingProjects)
//-     - project = printingProjects[project]
//-     a.black-3doers(href='/project/#{ project.id }')
//-         div.tile.col-md-3.tile-projects
//-             h3.text-ellipsis #{project.title}
//-             p Status
//-                 b  #{project.humanizedStatus()}
//-             img(src='/img/icons_#{project.dasherizedStatus()}.png')
//-     - for (project in designProjects)
//-     - project = designProjects[project]
//-     a.black-3doers(href='/design/project/#{project.id}')
//-         div.tile.col-md-3.tile-projects
//-             h3.text-ellipsis #{project.title}
//-             p Status
//-                 b  #{project.humanizedStatus()}
//-             img(src='/img/icons_#{project.dasherizedStatus()}.png')

block scripts
  script(src='/js/views/project_list.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
