
extends base

block title
  |  Your Projects

block content-profile
  .info
    - if (projects.length == 0)
      p There is not any project yet for this list.
    - for (project in projects)
      - project = projects[project]
        .info_projects
          p.filename
            | NAME: #{project.title}
            span#name
          p.filename
            | FILE NAME: #{project.file}
            span#name
          .status
            p
              | STATUS:
              span#status  #{project.humanizedStatus()}
            img(id="status_img", alt="Request status", src="/img/icons_#{project.dasherizedStatus()}.png")
          p.price
            | PRICE:
            span#price  #{project.price}
            span#currency  EURO
          .link_to_project

            a(href="/project/#{project.id}", class="") GO TO THE
              | PROJECT
          .separator
            img(id="separator1", alt="division figure", src="/img/separatori_lista.png")
            img(id="separator2", alt="division figure", src="/img/img_separatori_lista.png")

block scripts
  script(src='/js/views/project_list.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
