extends base

block title
  |  Your Profile


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block body
  .section.primary
    .container
      .row
        .col-md-6.col-sm-7
          p#result
          form#registration(action='/profile/settings', method='POST', role='form', accept-charset='utf-8')
            input(type='hidden', name='authenticity_token')
            input(type='hidden', name='_csrf', value=csrfToken)
            .photoedit
              - if (user.photo)
                img#profile_image.circular(width='142', height='142', src='/#{ user.photo }', alt='#{ user.firstName } #{ user.lastName }')
              - else
                img#profile_image.circular(width='142', height='142', src='/img/edit_photo_placeholder.png?1396277523', alt='profile image')
              button#clickable.btn-default.btn-xs.grey-3doers(href='#') Edit Photo
            .form-group
              input#username.form-control.input-text.resize-input-form(value=(user.username)?"#{user.username}":"", placeholder='Username', name='username')
            .form-group
              input#email.form-control.input-text.resize-input-form(value=(user.email)?"#{user.email}":"", placeholder='Email', name='email')
            .form-group
              input#firstName.form-control.input-text.resize-input-form(value=(user.firstName)?"#{user.firstName}":"", placeholder='First name', name='firstName')
            .form-group
              input#lastName.form-control.input-text.resize-input-form(value=(user.lastName)?"#{user.lastName}":"", placeholder='Last name', name='lastName')
            .form-group
              input#address.form-control.input-text.resize-input-form(value=(user.address)?"#{user.address}":"", placeholder='Address', name='address')
            .form-group
              input#city(type='hidden', name='city')
              input#country(type='hidden', name='country')
              input#location(type='hidden', name='location')

            .photoedit
              button#submit.btn-default.btn-xs.grey-3doers(type='submit') Edit profile info

        .col-md-6.col-sm-7
          if user.printer == 'accepted'
            h1 Printer Address
            dl
              if user.printerAddress
                address
                    strong #{user.printerAddress['company']}
                    br
                    |#{user.printerAddress['street1']}
                    br
                    |#{user.printerAddress['city']}, #{user.printerAddress['zip']}, #{user.printerAddress['country']}
                    br
                    |#{user.printerAddress['phone']}

            a#link.direct-link-ship-address.btn-default.btn-xs.grey-3doers(href='/profile/settings/printer-direction') Update

          if user.shippingAddresses
            h2 Shipping Addresses
            .margin-address
            for direction in user.shippingAddresses
                address.col-md-5
                 strong #{direction['company']}
                 br
                 |#{direction['street1']}
                 br
                 |#{direction['city']}, #{direction['zip']}, #{direction['country']}
                 br
                 |#{direction['phone']}
                 br
                 a.remove-shipping-address.btn-default.btn-xs.grey-3doers(href='/profile/settings/delete-shipping-direction/#{ direction.id }') Delete

            else
              strong you still don't have any direction

            br

        a#link.direct-link-ship-address.btn-default.btn-xs.grey-3doers(href='/profile/settings/new-shipping-direction') Add new direction
          a#link.direct-link-ship-address.btn-default.btn-xs.grey-3doers(href='/profile/settings/new-shipping-direction') Logout
      .row
        .col-md-12
            h2
                | Upgrade Your Profile
            p
                | Here you can Upgrade your profile for FREE!

        ul.nav-circles
            li.tiles
                a(href="/#")
                    img(src='/img/icons_printing.png').circular.small-circular
                div
                    h4 Become a Designer
                    p
                        | Are you a Designer?
                        | Updgrade your profile
                        | and earn money!
            li.tiles
                a(href='/#')
                    img(src='/img/icon-1.png').circular.small-circular
                div
                    h4 Become a Printer
                    p
                        | Are you a Printer
                        | Upgrade your profile
                        | and earn money!


block scripts
  script(src='/vendor/jquery.ajaxupload.js')
  script(src='/js/views/settings.js')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
  script.
    var address = "#{user.address}"
