
extends ../base

block title
  |  Your Project

block body
  .container_block
    section.homepage.container2
        p#title.title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{ project.title }
        if user.printer == 'accepted'
          .return
            a(href='/printing/jobs')
              img(alt='3doers Hand', src='/img/return_to_jobs.png')
              p Return to jobs available
          .download
            a(href='/#{ project.file }')
              p SCARICA QUI IL FILE
              img(alt='3doers Hand', src='/img/icon_download.png')
        .images_data
          .frame-1
          .frame-2
          .file
            canvas#cv
          .container_background
    .print_info_block
      section.homepage.container2
        .acceptation_info
          .info1
            .status
              p STATUS
              p
                span#status  PRINTING
              img(alt='3doers Hand', src='/img/icons_printing_background_green.png')
          .info2
            .line
          .info3
            .volume
              p VOLUME:
              p
                span#volume  81.80047863cm3
            .density
              p DENSITY:
              p
                span#density  1
            .weight
              p WEIGHT:
              p
                span#weight  81.80047863
          .info4
            .ammount
              p AMMOUNT:
              p
                span#ammount  4
            .dimension
              p DIMENSION:
              p
                span#dimension  24X30X2
            .price
              p PRICE:
              p
                span#price  27
                span   EURO
          .info5
            .resolution
              p RESOLUTION:
              p
                span#resolution  70
                span  %
    .payment-status_block.pay_ok
      section.homepage.container2
        .payment-status
          p
            | PAGAMENTO AVVENUTO!
            br
            | INIZIA LA TUA STAMPA!
          img(alt='OK', src='images/alert_payment_ok.png')
    .payment-status_block.confirm
      section.homepage.container2
        .payment-status
          p
            | ATTENDI IL PAGAMENTO!
            br
            | RICEVERAI UNA MAIL DI CONFERMA
          img(alt='OK', src='images/alert_payment.png')
    .title_block
      section.homepage.container2
        h1.title
          p  COMMENTS HERE
          p  FOR YOUR PROJECT
          img(alt='3doers Hand', src='images/icons_comment_2.png')
      .title_background.printer_page
        .title_bar1
        .title_bar2
    section.homepage.container2
      .project_comments
        .project_comment
          .user_image
            img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
          p
            | Sesame snaps brownie topping lollipop apple pie cake jelly-o. Pudding oat cake gummies. Danish jelly biscuit jelly-o pie pie cheesecake. Chocolate pudding bonbon carrot cake. Lollipop pastry
        .project_comment
          .user_image
            img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
          p
            | esame snaps brownie topping lollipop apple pie cake jelly-o. Pudding oat cake gummies.?
        .project_comment
          .user_image
            img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
          p
            | applicake candy canes danish chocolate bar pie tiramisu. Cotton candy danish chocolate cake oat cake fruitcake candy topping cotton candy jelly beans. Oat cake pudding macaroon tart pastry cake biscuit powder. Bear claw topping sesame snaps. Carrot
            | cake donut cookie chupa chups soufflé pastry sugar plum. Jelly carrot cake tootsie roll cupcake dragée chocolate cake liquorice jujubes cupcake. Tiramisu apple pie dessert fruitcake cake.
    .comment_textarea_block
      section.homepage.container2
        .container-left
          textarea(rows='10')
        .container-right
          .submit
            input#submit_comment.form(name='submit_comment', value='SEND', type='submit')


  .container_block
    section.homepage.container2
      p#title.title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{project.title}
      .images_data
        .frame-1
        .frame-2
        .file
          canvas#cv
        p#message-canvas.messages.hide
          | It seems you are using an outdated browser that does not support canvas :-(
        .container_background

      .parameters.processing-volume(class=(project.status!=1)?"hide":"")
        p.objects
          | OBJECT VOLUME:
          span.object-volume
            span#volume &nbsp;#{project.volume}
            &nbsp
            span#unit #{project.unit}
            &nbsp
            sup 3
        //
          /todo manca immagine di status

        p.status
          | STATUS:
          span#status &nbsp;#{project.humanizedStatus()}
        -if (!project.editable && project.order)
          p.order.hide
            | PRICE:
            span#order-placed-order  #{project.order.price}

  .block_configuration_form.row
    section.homepage.container2
      - if (project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0])
        .form_group1
          //
            /todo manca value dal backend

          select#color-chooser.selectpicker
            option(selected='selected', disabled='disabled') SELECT A COLOR *
            - for color in colors
              option(value="#{color}") #{color}

          select#density-chooser.selectpicker
            option(selected='selected', disabled='disabled') SELECT A DENSITY *
            - for density in densities
              option(value="#{density[0]}") #{density[1]}

        .form_group2.well
          form.form-horizontal(action='/project/order/#{project.id}', method='POST', role='form', accept-charset='utf-8', name='')
            input(type='hidden', name='authenticity_token')
            .block1
              .left
                input(type='hidden', name='_csrf', value=csrfToken)
                input#ammount.form(type='number', min='1', placeholder='HOW MANY ITEMS? *', name='ammount')
              .right
                input#ammount.form(type='number', min='1', placeholder='HOW MANY ITEMS? *', name='ammount')
            .block2
              .price
                span.order
                  | ORDER PRICE:
                  span#order-price  Processing
                  span  $
              .submit
                input#submit.form(type='submit', value='PLACE ORDER', name='submit')

      // if user same as owner and status payed
      - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.user)
        a(href="/project/pay/#{project.id}").btn.btn-lg.btn-primary.pull-right Pay Order
        .clearfix

      - if (project.status == statuses.PAYED[0])
        .row
          form.form-inline(role="form", action="/project/start-printing/#{project.id}", method="post").col-md-12
            input(type='hidden', name='_csrf', value=csrfToken)
            input(type="submit", value="Print Order").btn.btn-primary.pull-right

      - if (project.status == statuses.PRINTING[0])
        .row
          form.form-inline(role="form", action="/project/printed/#{project.id}", method="post").col-md-12
            input(type='hidden', name='_csrf', value=csrfToken)
            input(type="submit", value="Order Printed").btn.btn-primary.pull-right

      - if (project.status >= statuses.PRINT_ACCEPTED[0])  // if project was accepted
        h5 Comments

        ul#comment-list.list-group
          - for comment in project.comments
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
                .col-xs-10.col-md-11
                  div
                    .mic-info
                      | By: &nbsp; &nbsp;
                      a(href='#') #{comment.username}
                      | &nbsp;on #{comment.createdAt}
                  br
                  .comment-text
                    | #{comment.content}


        textarea#comment-text.comment.col-md-12
        .clearfix
        br
        button.btn.btn-primary.pull-right#comment-button Comment

    .configuration_background
      .background


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
  script(type='text/javascript', src='/vendor/jquery.jeditable.js')
  script(type='text/javascript', src='/js/views/project_detail.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
  script(type='text/javascript', src='/vendor/socket.io.min.js')
  script.
    var project = {
      id: "#{project._id}",
      filename: "#{project.file}",
      color: "#{project.color?project.color:'black'}",
      density: "#{project.density}"
    };
    var port = "#{io.port}";
