
extends ../base

block title
  |  Your Project

block content

  .jumbotron

    h3
      a#title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{project.title}
    canvas#cv.col-md-12
    p.hide#message-canvas
      | It seems you are using an outdated browser that does not support canvas :-(
    .clearfix
  .row

  .row
    .col-md-12
      .row
        .col-md-12
          h4
            | Object Volume:&nbsp;
            span.processing-volume(class=(project.status!=1)?"hide":"") Processing
            span.object-volume(class=(project.status!=1)?"":"hide")
              span#volume #{project.volume}
              &nbsp;
              span#unit #{project.unit}
              sup 3
          h5
            | Status:&nbsp;
            span.capitalize#status #{project.humanizedStatus()}

          -if (!project.editable && project.order)
            h5
              | Price:&nbsp;
              span.capitalize#order-placed-order #{project.order.price}
              span &nbsp;&nbsp;Euro
      hr
      - if (project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0])
        .row
          .col-md-5
            br
            strong Select a Color:
            select#color-chooser.selectpicker
              - for color in colors
                option(value="#{color}") #{color}

            br
            strong Select Density:
            select#density-chooser.selectpicker
              - for density in densities
                option(value="#{density[0]}") #{density[1]}

          .col-md-7
            .well
              form.form-inline(role="form", action="/project/order/#{project.id}", method="post").col-md-10.col-md-offset-1
                input(type='hidden', name='_csrf', value=csrfToken)
                legend How many items do you want?
                .form-group
                  label.sr-only(for='ammount') Ammount
                  input#ammount.form-control(type='number', placeholder='1', name='ammount')

                input(type="submit", value="Place an Order").btn.btn-primary

                br
                br
                strong Order Price: &nbsp;&nbsp;
                span.form-control-static#order-price Processing
                span &nbsp;&nbsp;Euro
              .clearfix

      // if user same as owner and status payed
      - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.user)
        a(href="/project/pay/#{project.id}").btn.btn-lg.btn-primary.pull-right Pay Order
        .clearfix

      - if (project.status >= statuses.PRINT_ACCEPTED[0])  // if project was accepted
        h5 Comments

        ul#comment-list.list-group
          - for comment in project.comments
            li.list-group-item
              .row
                .col-xs-2.col-md-1
                  img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
                .col-xs-10.col-md-11
                  div
                    .mic-info
                      | By: &nbsp; &nbsp;
                      a(href='#') #{comment.username}
                      | &nbsp;on #{comment.createdAt}
                  br
                  .comment-text
                    | #{comment.content}


        textarea#comment-text.comment.col-md-12
        .clearfix
        br
        button.btn.btn-primary.pull-right#comment-button Comment

block extra-headers
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css')
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
    script(src='/js/views/project_detail.js')
    script(type='text/javascript', src='/vendor/jsc3d.min.js')
    script(type='text/javascript', src='/vendor/bootstrap-select.min.js')
    script(src='/vendor/socket.io.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js')
    script.
      var project = {
        id: "#{project._id}",
        filename: "#{project.file}",
        color: "#{project.color?project.color:'black'}",
        density: "#{project.density}"
      };
      var port = "#{io.port}";
