
extends ../base

block title
  |  Your Project

block body
  div
    .container
      .row
        .col-md-6
          h1#title.page-title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{ project.title }
      - if (user.printer == 'accepted' && project.status == statuses.PRINT_REQUESTED[0])
        .row
          .col-md-6
            .back-link
              a(href='/printing/jobs')
                img(src='/img/return_to_jobs.png')
                | Return to jobs available
          .col-md-6
            .download-link
              a(href='/#{ project.file }')
                | Scarica Qui Il File
                img(src='/img/icon_download.png')
      br
      br
      br
      .preview-print
        canvas#cv
      br
      br
      br
      br
      br
      br

  // processed
  - if (project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0])
    div
      .container
        div
          p
            span OBJECT VOLUME:&nbsp;
            | 10.6763378264 cm3
          p
            span STATUS:&nbsp;
            | PROCESSED
            img(src='/img/icons_#{project.dasherizedStatus()}.png')
        br
        br
        br
        br
        br

    .section.primary
      .container
        br
        form(action='/project/order/#{project.id}', method='POST', role='form', accept-charset='utf-8', name='')
          input(type='hidden', name='_csrf', value=csrfToken)
          .row
            .col-md-4
              .form-group
                select.form-control#color-chooser
                  option(selected='selected', disabled='disabled') SELECT A COLOR *
                  - for color in colors
                    option(value="#{color}") #{color}
              .form-group
                input(type='hidden', name='authenticity_token')
                input#ammount.form-control(type='number', min='1', placeholder='HOW MANY ITEMS? *', name='ammount')
            .col-md-4
              .form-group
                select.form-control#density-chooser
                  option(selected='selected', disabled='disabled') SELECT A DENSITY *
                  - for density in densities
                    option(value="#{density[0]}") #{density[1]}
          .row
            .col-md-4
              p
                | ORDER PRICE:&nbsp;
                span#order-price  Processing
            .col-md-4
              button.btn.btn-default.btn-lg.btn-block(type='submit') PLACE ORDER
        br

  - if (!(project.status == statuses.PROCESSING[0] || project.status == statuses.PROCESSED[0]))
    .section.primary
      .container
        .row
          .col-md-3.col-sm-6
            .printer-properties
              h4 Status
              p #{project.humanizedStatus()}
              br
              img(src='img/icons_#{project.dasherizedStatus()}.png')
          .col-md-3.col-sm-6
            .printer-properties
              h4 Volume:
              p #{project.volume} cm3
              h4 Density
              p #{project.density}
              h4 Weight
              p #{project.weight}
          .col-md-3.col-sm-6
            .printer-properties
              h4 Ammount:
              p #{project.order.ammount}
              h4 Dimension:
              p #{project.order.dimension} # this still on development
              h4 Price
              p
                strong #{project.order.price} EURO
          .col-md-3.col-sm-6
            .printer-properties
              h4 Resolution
              p #{project.order.resolution} # this still on development
    br
    br
    - if (user.printer == 'accepted' && project.status == statuses.PRINT_REVIEW[0])
      div
        .container
          .row
            .col-md-3.col-sm-6
              a#accept.btn.btn-lg.btn-default.btn-goto(href='/printing/accept/#{project.id}')
                span ACCEPT
                  br
                  | THIS WORK
              br
              br
              br
            .col-md-3.col-md-offset-1.col-sm-6
              a#deny.btn.btn-lg.btn-red.btn-goto(href='/printing/deny/#{project.id}')
                span DENY
                  br
                  | THIS WORK
              br

    - if (project.status >= statuses.PRINT_REVIEW[0])  // if project was accepted
        br
        br
        br
        .container
          .row
            .col-md-7
              .comment-title
                img(src='/img/icons_comment_2.png', alt='')
                h1.page-title
                  span Comments Here
                h1.page-title
                  span For Your Project
          br
          br
          br
          .row
            .col-md-8#comment-list
              - for comment in project.comments
                .media
                  a.pull-left(href='#')
                    img.media-object(src='/#{comment.photo}', alt='', width='78', height='78')
                  .media-body
                    p
                      | #{comment.content}
                  .media-meta
                    | by 
                    span.author #{comment.username} 
                    | at 
                    span.date #{comment.createdAt}
        br
        .section.primary
          .container
            .row
              .col-md-10.col-sm-10
                textarea#comment-text.comment.form-control(rows=6)
              .col-md-2.col-sm-2
                button.btn.btn-lg.btn-default.btn-goto#comment-button
                  span SEND

  br
  br
  br
  br

  include ../../includes/publicity

  //- .container_block
  //-   .payment-status_block.pay_ok
  //-     section.homepage.container2
  //-       .payment-status
  //-         p
  //-           | PAGAMENTO AVVENUTO!
  //-           br
  //-           | INIZIA LA TUA STAMPA!
  //-         img(alt='OK', src='images/alert_payment_ok.png')
  //-   .payment-status_block.confirm
  //-     section.homepage.container2
  //-       .payment-status
  //-         p
  //-           | ATTENDI IL PAGAMENTO!
  //-           br
  //-           | RICEVERAI UNA MAIL DI CONFERMA
  //-         img(alt='OK', src='images/alert_payment.png')
  //-   .title_block
  //-     section.homepage.container2
  //-       h1.title
  //-         p  COMMENTS HERE
  //-         p  FOR YOUR PROJECT
  //-         img(alt='3doers Hand', src='images/icons_comment_2.png')
  //-     .title_background.printer_page
  //-       .title_bar1
  //-       .title_bar2
  //-   section.homepage.container2
  //-     .project_comments
  //-       .project_comment
  //-         .user_image
  //-           img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
  //-         p
  //-           | Sesame snaps brownie topping lollipop apple pie cake jelly-o. Pudding oat cake gummies. Danish jelly biscuit jelly-o pie pie cheesecake. Chocolate pudding bonbon carrot cake. Lollipop pastry
  //-       .project_comment
  //-         .user_image
  //-           img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
  //-         p
  //-           | esame snaps brownie topping lollipop apple pie cake jelly-o. Pudding oat cake gummies.?
  //-       .project_comment
  //-         .user_image
  //-           img(alt='3doers Hand', src='images/edit_photo_placeholder.png')
  //-         p
  //-           | applicake candy canes danish chocolate bar pie tiramisu. Cotton candy danish chocolate cake oat cake fruitcake candy topping cotton candy jelly beans. Oat cake pudding macaroon tart pastry cake biscuit powder. Bear claw topping sesame snaps. Carrot
  //-           | cake donut cookie chupa chups soufflé pastry sugar plum. Jelly carrot cake tootsie roll cupcake dragée chocolate cake liquorice jujubes cupcake. Tiramisu apple pie dessert fruitcake cake.
  //-   .comment_textarea_block
  //-     section.homepage.container2
  //-       .container-left
  //-         textarea(rows='10')
  //-       .container-right
  //-         .submit
  //-           input#submit_comment.form(name='submit_comment', value='SEND', type='submit')


  //- .container_block
  //-   section.homepage.container2
  //-     p#title.title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{project.title}
  //-     .images_data
  //-       .frame-1
  //-       .frame-2
  //-       .file
  //-         canvas#cv
  //-       p#message-canvas.messages.hide
  //-         | It seems you are using an outdated browser that does not support canvas :-(
  //-       .container_background

  //-     .parameters.processing-volume(class=(project.status!=1)?"hide":"")
  //-       p.objects
  //-         | OBJECT VOLUME:
  //-         span.object-volume
  //-           span#volume &nbsp;#{project.volume}
  //-           &nbsp
  //-           span#unit #{project.unit}
  //-           &nbsp
  //-           sup 3
  //-       //
  //-         /todo manca immagine di status

  //-       p.status
  //-         | STATUS:
  //-         span#status &nbsp;#{project.humanizedStatus()}
  //-       -if (!project.editable && project.order)
  //-         p.order.hide
  //-           | PRICE:
  //-           span#order-placed-order  #{project.order.price}

  //- .block_configuration_form.row
  //-   section.homepage.container2


  //-     // if user same as owner and status payed
  //-     - if (project.status == statuses.PRINT_ACCEPTED[0] && user.id == project.user)
  //-       a(href="/project/pay/#{project.id}").btn.btn-lg.btn-primary.pull-right Pay Order
  //-       .clearfix

  //-     - if (project.status == statuses.PAYED[0])
  //-       .row
  //-         form.form-inline(role="form", action="/project/start-printing/#{project.id}", method="post").col-md-12
  //-           input(type='hidden', name='_csrf', value=csrfToken)
  //-           input(type="submit", value="Print Order").btn.btn-primary.pull-right

  //-     - if (project.status == statuses.PRINTING[0])
  //-       .row
  //-         form.form-inline(role="form", action="/project/printed/#{project.id}", method="post").col-md-12
  //-           input(type='hidden', name='_csrf', value=csrfToken)
  //-           input(type="submit", value="Order Printed").btn.btn-primary.pull-right

  //-     - if (project.status >= statuses.PRINT_ACCEPTED[0])  // if project was accepted
  //-       h5 Comments

  //-       ul#comment-list.list-group
  //-         - for comment in project.comments
  //-           li.list-group-item
  //-             .row
  //-               .col-xs-2.col-md-1
  //-                 img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
  //-               .col-xs-10.col-md-11
  //-                 div
  //-                   .mic-info
  //-                     | By: &nbsp; &nbsp;
  //-                     a(href='#') #{comment.username}
  //-                     | &nbsp;on #{comment.createdAt}
  //-                 br
  //-                 .comment-text
  //-                   | #{comment.content}


  //-       textarea#comment-text.comment.col-md-12
  //-       .clearfix
  //-       br
  //-       button.btn.btn-primary.pull-right#comment-button Comment

  //-   .configuration_background
  //-     .background


block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block scripts
  script(type='text/javascript', src='/vendor/jquery.jeditable.js')
  script(type='text/javascript', src='/js/views/project_detail.js')
  script(type='text/javascript', src='/vendor/jsc3d.min.js')
  script(type='text/javascript', src='/vendor/socket.io.min.js')
  script.
    var project = {
      id: "#{project._id}",
      filename: "#{project.file}",
      color: "#{project.color?project.color:'black'}",
      density: "#{project.density}"
    };
    var port = "#{io.port}";
    $(document).ready(
      function() {
        $('#deny, #accept').click(
          function(event) {
            event.preventDefault();
            $.post($(this).attr('href'), function(){location.reload();})
          }
        );
      }
    );

