extends ../layouts/_basic

block title
  |  Sign up

block content
  .bg-3doers
    .container
      .page-header
        h3 Sign up
      .page-info
        h4 #{__("To Become Printer")} #{__("Once You Sign")}
      br
      .row
        .col-md-4
          form.form-3doers#registration(action='/accounts/signup', method='POST', role='form', accept-charset='utf-8', name='signup-form')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              input.form-control(type='text', placeholder='#{__("Username")}', name='username', value="#{ locals.username?username:"" }")
              p(style="color:#9B9B9B; font-size:9.5px;") Username should be between 4 to 24 characteres. Please do not use capital letters, special characteres (for example è à ù ò ç). punctuations (.,:') or spaces. Underscore and score (_-) are allowed.
            .form-group.no-margin
              input.form-control(type='email', placeholder='#{__("Email Label")}', name='email', value="#{ locals.email?email:"" }")
            .form-group.no-margin
              input.form-control(type='password', placeholder='#{__("Password")}', name='password')
            .form-group.no-margin
              input.form-control(type='password', placeholder='#{__("Confirm")}', name='passwordConfirm')
            .form-group.no-margin
              input.form-control(type='text', placeholder='#{__("Address")}', name='address', id='address')
              input#city(type='hidden', name='city')
              input#country(type='hidden', name='country')
              input#location(type='hidden', name='location')
            br
            .checkbox
              input(id='terms_conditions', type='checkbox', name='term_condition')
              label(for='terms_conditions')
                | #{__("Accept Policy")}
                a(href='/docs/pp.pdf')  #{__("Privacy")}
                |  #{__("Accept Policy2")}
                br
                a(href='/docs/terms.pdf')  #{__("Terms")}
                |  #{__("Accept Policy3")}
            br
            .form-group
              button.btn.btn-xlg.btn-block.btn-green #{__("Sign Up").toUpperCase()}
      br
      br
      br

block scripts
  script(type='text/javascript').
    /* <![CDATA[ */
    var google_conversion_id = 938100385;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "RnlyCKL_tGAQoY2pvwM";
    var google_remarketing_only = false;
    /* ]]> */

  script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')

  noscript
    div(style='display:inline;')
      img(height='1', width='1', style='border-style:none;', alt='', src='//www.googleadservices.com/pagead/conversion/938100385/?label=RnlyCKL_tGAQoY2pvwM&guid=ON&script=0')


  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&&libraries=places&language=en')
  script(src='/js/views/signup.js')

  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
