-if (user.id == project.order.printer)
  div(role='tabpanel')
    ul.nav.nav-justified.nav-3doers
      li.nav-step.complete
        a(href='#tab-review')
          span.step-one
          | Review
      li.nav-step.active
        a(href='#tab-accepted')
          span.step-two
          | Accepted
      li.nav-step
        a(href='#tab-printing')
          span.step-three
          | Printing
      li.nav-step
        a(href='#tab-shipping')
          span.step-four
          | Shipping
    .tab-content
      .tab-pane.fade(id='tab-review')
        h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
      .tab-pane.fade.in.active(id='tab-accepted')
        h4.light
      .tab-pane.fade(id='tab-printing')
        h4.light
          | You can now proceed with the printing, remember that a faster service will result in a higher rating for you.
          br
          | Once you've completed the order, please click on "ORDER PRINTED" to generate a shipping label.
      .tab-pane.fade(id='tab-shipping')
        h4.light Print the shipping label, pack the item and attach the label on it.

  .alert.alert-warning
    | Please wait for the user to complete the payment before proceeding with the printing.
    br
    | You’ll be notified when the money is secured on 3doers account.

  .job-review
    h4.job-name #{ project.title }
    .row
      .col-md-8
        .job-details
          .row
            .col-md-5
              - if (project.image)
                img.img-responsive(src='/#{project.image}')
              - else
                img.img-responsive(src='/images/job-preview-no-screen.jpg')
            .col-md-7
              .info
                p
                  strong COLOR:
                  |  #{project.color}
                p
                  strong MATERIAL:
                  |  #{project.material}
                p
                  strong AMOUNT:
                  |  #{project.order.ammount} pieces
                p
                  strong VOLUME:
                  |  #{project.volume} cm3
                p
                  strong WEIGHT:
                  |  #{project.weight} g
                if project.dimension
                  p
                    strong DIMENSIONS:
                    |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
      .col-md-4
        table.job-payment
          tbody
            tr
              td.desc Taxes:
              td.value  #{project.order.taxes} €
            tr
              td.desc 3Doers:
              td.value #{project.order.businessPayment} €
            tr
              td.desc Shipping:
              td.value #{project.order.rate?"" + project.order.rate.amount + " €": "Waiting for rate."}
            tr.separator
              td(col-span='2')
            tr
              td.desc.text-shadow-3doers Printer:
              td.value
                h3.normal #{project.order.printerPayment} €

  h4: a(href='/#{project.file}') Download STL file

  .page-subheader
    h3 Conversation with project owner:

- else
  div(role='tabpanel')
          ul.nav.nav-justified.nav-3doers
            li.nav-step.complete
              a(href='#tab-review')
                span.step-one
                | Review
            li.nav-step.active
              a(href='#tab-accepted')
                span.step-two
                | Accepted
            li.nav-step
              a(href='#tab-printing')
                span.step-three
                | Printing
            li.nav-step
              a(href='#tab-shipping')
                span.step-four
                | Shipping
          .tab-content
            .tab-pane.fade(id='tab-review')
              h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
            .tab-pane.fade.in.active(id='tab-accepted')
              h4.light
            .tab-pane.fade(id='tab-printing')
              h4.light
                | You can now proceed with the printing, remember that a faster service will result in a higher rating for you.
                br
                | Once you've completed the order, please click on "ORDER PRINTED" to generate a shipping label.
            .tab-pane.fade(id='tab-shipping')
              h4.light Print the shipping label, pack the item and attach the label on it.

        .alert.alert-primary
          .media
            .media-left
              a(href='#')
                - if (printer.photo)
                  img.media-object(src='/#{ printer.photo}', style='width: 50px; height: 50px')
                - else
                  img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width: 50px; height: 50px')
            .media-body.media-middle
              .message
                strong #{printer.firstName}
                |  is currently reviewing this order and may contact you

        .job-review
          h4.job-name #{ project.title }
          .row
            .col-md-8
              .job-details
                .row
                  .col-md-5
                    - if (project.image)
                      img.img-responsive(src='/#{project.image}')
                    - else
                      img.img-responsive(src='/images/job-preview-no-screen.jpg')
                  .col-md-7
                    .info
                      p
                        strong COLOR:
                        |  #{project.color}
                      p
                        strong MATERIAL:
                        |  #{project.material}
                      p
                        strong AMOUNT:
                        |  #{project.order.ammount} pieces
                      p
                        strong VOLUME:
                        |  #{project.volume} cm3
                      p
                        strong WEIGHT:
                        |  #{project.weight} g
                      if project.dimension
                        p
                          strong DIMENSIONS:
                          |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
            .col-md-4
              table.job-payment
                tbody
                  tr
                    td.desc Taxes:
                    td.value #{project.order.taxes} €
                  tr
                    td.desc 3Doers:
                    td.value #{project.order.businessPayment} €
                  tr
                    td.desc Printer:
                    td.value #{project.order.printerPayment} €
                  tr
                    td.desc Shipping:
                    td.value #{project.order.rate?"" + project.order.rate.amount + " €": "Waiting for rate."}
                  tr.separator-small
                    td(col-span='2')
                  tr
                    td.desc.text-shadow-3doers Total Price:
                    td.value
                      h3.normal #{project.order.rate?(parseFloat(project.order.totalPrice) + project.order.rate.amount):project.order.totalPrice} €
                  tr
                    td(colspan='2')
                      p.final-price *Final price will include a shipping fee and will be calculated once the order has been accepted by a printer.
        .row
          .col-md-3
            .form-group
              a(href='#', data-toggle='modal', data-target='#orderModal') Cancel order

              .modal.fade(id='orderModal', role='dialog')
                .modal-dialog.modal-md
                  .modal-content
                    .modal-header
                      button.close(data-dismiss='modal')
                        span &times;
                      h4.modal-title &nbsp;
                    .modal-body
                      p
                        | Once deleted the order won't be accesible anymore.
                        br
                        | Do you want to proceed?
                      br
                      form(action='/project/delete/#{ project._id }', method='post')
                        .row
                          .col-md-5
                            .form-group
                              a.btn.btn-xlg.btn-block.btn-green-inverse(data-dismiss='modal', href='#') Undo
                          .col-md-7
                            .form-group
                              button.btn.btn-xlg.btn-block.btn-green(type='submit') CANCEL ORDER

          .col-md-4.col-md-offset-5
            form#hidden-pay-form(action="/project/pay/#{project.id}", method="post")
              .form-group
                button.btn.btn-xlg.btn-block.btn-green(href='#', type='submit') PROCEED WITH PAYMENT
            p.text-muted.text-light.text-xsmall The payment will be secured on 3Doers account and won’t be released to the printer until the order has been completed and delivered to you.

        .page-subheader
          h3 Conversation with printer:

        //- form#hidden-pay-form(action="/project/pay/#{project.id}", method="post")
        //-   input(type='hidden', name='_csrf', value=csrfToken)
        //-   input#shippingAddress(type='hidden', name='shippingAddress')
        //-   input#shippingMethod(type='hidden', name='shippingMethod')
        //-   input#shippingRate(type='hidden', name='shippingRate')

        //- #payment-modal.modal.modal-3d.fade.in
        //-   .modal-dialog
        //-     .modal-content
        //-       .modal-header
        //-         button.close(type='button', data-dismiss='modal')
        //-           span(aria-hidden='true') &times;
        //-             span.sr-only Close
        //-         h4.modal-title Shipping
        //-       .modal-body
        //-         div#address-selection
        //-           h4.light Select the address where we has to ship.
        //-           // Nav tabs
        //-           ul.nav.nav-tabs.nav-tabs-3doers-small.nav-justified(role='tablist')
        //-             li.active
        //-               a(href='#saved', role='tab', data-toggle='tab') Saved
        //-             li
        //-               a(href='#new', role='tab', data-toggle='tab') New
        //-           //
        //-              Tab panes
        //-           .tab-content
        //-             #saved.tab-pane.active.fade.in
        //-               - if (user.shippingAddresses.length > 0)
        //-                 .row
        //-                   for address in user.shippingAddresses
        //-                     address.col-md-4
        //-                       strong #{address['company']}
        //-                       br
        //-                       |#{address['street1']}
        //-                       br
        //-                       |#{address['city']}, #{address['zip']}, #{address['country']}
        //-                       br
        //-                       |#{address['phone']}
        //-                       br
        //-                       a.select-saved-address.btn.btn-default.btn-xs.grey-3doers(data-id="#{ address.id }", href="#") Select
        //-               - else
        //-                 | you don't have saved any address
        //-               button.close-payment-modal.btn.btn-lg.btn-green Cancel
        //-             #new.tab-pane.fade
        //-               form
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='CONTACT', name='name')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='COMPANY', name='company')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='ADDRESS 1', name='street1')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='BUILDING NO (OPTIONAL)', name='street_no')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='ADDRESS 2 (OPTIONAL)', name='street2')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='CITY', name='city')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='STATE', name='state')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='ZIP CODE', name='zip_code')
        //-                 .form-group
        //-                   input.form-control.input-text(type='text', placeholder='PHONE NO.', name='phone_no')
        //-                 .form-group
        //-                   select.form-control(name="country")
        //-                     for country in countries
        //-                       option#country(value='#{ country.abbr }') #{ country.name }

        //-                 .row
        //-                   .col-xs-6
        //-                     button.btn.btn-lg.btn-default.close-payment-modal Cancel
        //-                   .col-xs-6.text-right
        //-                     button#validate-address.btn.btn-lg.btn-green
        //-                       span Validate
        //-                 .text-right
        //-         div#pay-values(style='display: none;')
        //-           h5 Pay Now
        //-           p Price:&nbsp;
        //-             span#pay-product-price
        //-           p Estimated Shipping:&nbsp;
        //-             span#pay-shipping-price
        //-           hr
        //-           p Estimated Total:&nbsp;
        //-             span#pay-total-price

        //-           button.close-payment-modal Cancel
        //-           button#pay-payment-modal.btn.btn-default.btn-lg.btn-xsmall Pay

        //- br

.row
  .col-md-8
    .conversation
      #comment-list
        - for comment in project.comments
          div.media
            - if (user.username===comment.username)
              .media-body.text-right
                .message #{comment.content}
                p.meta
                  |  By
                  strong  #{comment.username==user.username?"you":comment.username}
                  |  at
                  strong  #{ prettyDate(comment.createdAt) }
                  |  at
                  strong  #{ prettyHour(comment.createdAt) } pm
              .media-right
                a(href='#')
                  img.media-object(src='/#{comment.photo}', style='width:50px; height:50px')
            - else
              .media-left
                a(href='#')
                  img.media-object(src='/#{comment.photo}', style='width:50px; height:50px')
              .media-body
                .message #{comment.content}
                p.meta
                  |  By
                  strong  #{comment.username==user.username?"you":comment.username}
                  |  at
                  strong  #{ prettyDate(comment.createdAt) }
                  |  at
                  strong  #{ prettyHour(comment.createdAt) } pm
      .form-group
        textarea#comment-text.form-control(rows=4, placeholder='Write a comment')
      .row
        .col-xs-3.col-xs-offset-9
          button#comment-button.btn.btn-md.btn-block.btn-green-inverse(type='submit') Send
br
br
