-if (user.id == project.order.printer)
  div(role='tabpanel')
    ul.nav.nav-justified.nav-3doers
      li.nav-step.active
        a(href='#tab-review')
          span.step-one
          | #{__("Review")}
      li.nav-step
        a(href='#tab-accepted')
          span.step-two
          | #{__(#{__("Accepted")})}
      li.nav-step
        a(href='#tab-printing')
          span.step-three
          | #{__("Printing2")}
      li.nav-step
        a(href='#tab-shipping')
          span.step-four
          | #{__("Shipping")}
    .tab-content
      .tab-pane.fade.in.active(id='tab-review')
        h4.light #{__("24 Hours Accept")}.
      .tab-pane.fade(id='tab-accepted')
        h4.light
      .tab-pane.fade(id='tab-printing')
        h4.light
          | #{__("Proceed Printing")}.
          br
          | #{__("Proceed Printing")}.
      .tab-pane.fade(id='tab-shipping')
        h4.light #{__("Print Label")}

  .job-review
    h4.job-name #{project.title}
    .row
      .col-md-8
        .job-details
          .row
            .col-md-7
              figure
                #wrapper-canvas
                  canvas#cv
            .col-md-5
              .info
                p
                  strong #{__("Color")}:
                  |  #{project.color}
                p
                  strong #{__("Material")}:
                  |  #{project.material}
                p
                  strong #{__("Amount")}:
                  |  #{project.order.ammount} pieces
                p
                  strong #{__("Volume")}:
                  |  #{project.volume} cm3
                p
                  strong #{__("Weight")}:
                  |  #{project.weight} g
                if project.dimension
                  p
                    strong #{__("Dimensions")}:
                    |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
                br
                h4: a(href='/#{project.file}') #{__("Download STL")}
      .col-md-4
        table.job-payment
          tbody
            tr
              td.desc #{__("Taxes")}:
              td.value #{project.order.taxes} €
            tr
              td.desc #{__("3Doers")}:
              td.value #{project.order.businessPayment} €
            tr
              td.desc #{__("Shipping2")}:
              td.value -
            tr.separator
              td(col-span='2')
            tr
              td.desc.text-shadow-3doers #{__("Printer")}:
              td.value
                h3.normal #{project.order.printerPayment} €
  .row
    .col-md-3
      .form-group
        a#deny.btn.btn-xlg.btn-block.btn-green-inverse(href='/printing/deny/#{project.id}') #{__("Not For Me")}
    .col-md-4.col-md-offset-5
      .form-group
        a#accept.btn.btn-xlg.btn-block.btn-green(href='/printing/accept/#{project.id}') #{__("Accept Order").toUpperCase()}

  .page-subheader
    h3 #{__("Conversation")}:

- else
  div(role='tabpanel')
    ul.nav.nav-justified.nav-3doers
      li.nav-step.active
        a(href='#tab-review')
          span.step-one
          | #{__("Review")}
      li.nav-step
        a(href='#tab-accepted')
          span.step-two
          | #{__("Accepted"))}
      li.nav-step
        a(href='#tab-printing')
          span.step-three
          | #{__("Printing")}
      li.nav-step
        a(href='#tab-shipping')
          span.step-four
          | #{__("Shipping")}
    .tab-content
      .tab-pane.fade.in.active(id='tab-review')
        h4.light #{__("24 Hours Accept")}.
      .tab-pane.fade(id='tab-accepted')
        h4.light
      .tab-pane.fade(id='tab-printing')
        h4.light
          | #{__("Proceed Printing")}.
          br
          | #{__("Once Order Completed")}.
      .tab-pane.fade(id='tab-shipping')
        h4.light #{__("Print Label")}.

  .alert.alert-primary
    .media
      .media-left
        a(href='#')
          - if (printer.photo)
            img.media-object(src='/#{ printer.photo}', style='width: 50px; height: 50px')
          - else
            img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width: 50px; height: 50px')
      .media-body.media-middle
        .message
          | #{__("Person Reviewing2")}
          strong #{printer.firstName || printer.username}
          | #{__("Person Reviewing")}

  .job-review
    h4.job-name #{project.name}
    .row
      .col-md-8
        .job-details
          .row
            .col-md-5
              - if (project.image)
                img.img-responsive(src='/#{project.image}')
              - else
                img.img-responsive(src='/images/job-preview-no-screen.jpg')
            .col-md-7
              .info
                p
                  strong #{__("Color")}:
                  |  #{project.color}
                p
                  strong #{__("Material")}:
                  |  #{project.material}
                p
                  strong #{__("Amount")}:
                  |  #{project.order.ammount} pieces
                p
                  strong #{__("Volume")}:
                  |  #{project.volume} cm3
                p
                  strong #{__("Weight")}:
                  |  #{project.weight} g
                if project.dimension
                  p
                    strong #{__("Dimensions")}:
                    |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
      .col-md-4
        table.job-payment
          tbody
            tr
              td.desc #{__("Taxes")}:
              td.value #{project.order.taxes} €
            tr
              td.desc #{__("3Doers")}:
              td.value #{project.order.businessPayment} €
            tr
              td.desc #{__("Printer")}:
              td.value #{project.order.printerPayment} €
            tr
              td.desc #{__("Shipping2")}:
              td.value -
            tr.separator-small
              td(col-span='2')
            tr
              td.desc.text-shadow-3doers Total Price:
              td.value
                h3.normal #{project.orderPrice} €
            tr
              td(colspan='2')
                p.final-price #{__("Price Descr")} by a printer.
  div
    a(href='#', data-toggle='modal', data-target='#orderModal') #{__("Cancel Order")}

  .modal.fade(id='orderModal', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(data-dismiss='modal')
            span &times;
          h4.modal-title &nbsp;
        .modal-body
          p
            | #{__("Deleted Order")}.
            br
            | #{__("Proceed Question")}
          br
          form(action='/project/delete/#{ project._id }', method='post')
            .row
              .col-md-5
                .form-group
                  a.btn.btn-xlg.btn-block.btn-green-inverse(data-dismiss='modal', href='#') #{__("Undo")}
              .col-md-7
                .form-group
                  button.btn.btn-xlg.btn-block.btn-green(type='submit') #{__("Cancel Order").toUpperCase()}

  .page-subheader
    h3 Conversation with printer:

.row
  .col-md-8
    .conversation
      #comment-list
        - for comment in project.comments
          div.media
            - if (user.username===comment.username)
              .media-body.text-right
                .message #{comment.content}
                p.meta
                  |  By
                  strong  #{comment.username==user.username?"you":comment.username}
                  |  at
                  strong  #{ prettyDate(comment.createdAt) }
                  |  at
                  strong  #{ prettyHour(comment.createdAt) } pm
              .media-right
                a(href='#')
                  img.media-object(src='/#{comment.photo}', style='width:50px; height:50px')
            - else
              .media-left
                a(href='#')
                  img.media-object(src='/#{comment.photo}', style='width:50px; height:50px')
              .media-body
                .message #{comment.content}
                p.meta
                  |  By
                  strong  #{comment.username==user.username?"you":comment.username}
                  |  at
                  strong  #{ prettyDate(comment.createdAt) }
                  |  at
                  strong  #{ prettyHour(comment.createdAt) } pm
      .form-group
        textarea#comment-text.form-control(rows=4, placeholder='#{__("Write Comment")}')
      .row
        .col-xs-3.col-xs-offset-9
          button#comment-button.btn.btn-md.btn-block.btn-green-inverse(type='submit') #{__("Send")}
br
br
