div(role='tabpanel')
  ul.nav.nav-justified.nav-3doers
    li.nav-step.active
      a(href='#tab-crete-order')
        span.step-one
        | #{__("Create order")}
    li.nav-step
      a(href='#tab-place-order')
        span.step-two
        | #{__("Place order")}
    li.nav-step
      a(href='#tab-accepted')
        span.step-three
        | #{__("Accepted")}
    li.nav-step
      a(href='#tab-printing')
        span.step-four
        | #{__("Printing2")}
    li.nav-step
      a(href='#tab-shipping')
        span.step-five
        | #{__("Shipping")}
  .tab-content
    .tab-pane.fade.in.active(id='tab-crete-order')
      h4.light #{__("Preview File")}
    .tab-pane.fade(id='tab-place-order')
      h4.light
        | #{__("Review Order2")}
        br
        | #__{("Notify Accepted")}
    .tab-pane.fade(id='tab-accepted')
      h4.light #{__("Payment Indication")}
    .tab-pane.fade(id='tab-printing')
      h4.light #{__("Order Is Printing")}
    .tab-pane.fade(id='tab-shipping')
      h4.light
        | #{__("Order Shipped")}
        br
        | #{__("Track Courier")}

  #message-error.alert.alert-danger.hide  Error in stl

.job-order
  h4.job-name#title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{ project.title }
  h5.job-volume
    strong #{__("Volume")}:&nbsp;
    span#volume.object-volume
      | #{project.volume}
    span.object-volume-unit &nbsp; cm3
  .row
    .col-md-9
      .job-details
        .row
          .col-md-7
            figure
              #wrapper-canvas
                canvas#cv
          .col-md-5
            form.form-3doers(action='/project/order/#{project.id}', method='POST', role='form', accept-charset='utf-8', name='')
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type='hidden', name='authenticity_token')
              .form-group
                select.form-control#color-chooser
                  option(disabled='disabled', selected='selected') #{__("What Color")}
                  - for color in colors
                    option(value="#{color}") #{color}
              .form-group
                select.form-control#material-chooser
                  - for material in materials
                    option(value="#{material[1]}") #{material[1]}
              .form-group
                input#ammount.form-control(type='text', min='1', placeholder='#{__("Items Qty")}', name='ammount')
                input#printer-hidden(type='hidden', name='printer')
              .row
                .col-sm-7
                  h4.job-quotation #{__("Price Quote")}
                .col-sm-5
                  h3.job-price
                    span#order-price 0
                    span &nbsp; €
              p.text-muted.final-price
                small #{__("Price Descr")}
              if user
                button#order-button.btn.btn-lg.btn-block.btn-green(type='submit', disabled='disabled') #{__("Place Order").toUpperCase()}
              else
                button#order-button.btn.btn-lg.btn-block.btn-green(type='button', disabled='disabled', data-toggle='modal', data-target="#pleaseLogin") #{__("Place Order").toUpperCase()}
          .col-sm-12
            h4 #{__("Printer Preference")}
            p #{__("Preference Descr")}
            .row
              .col-md-5
                .form-group.has-feedback
                  input#printer-input.form-control(type='text', placeholder="#{__("Printer Contact")}", autocomplete='off')
       if user
        .row
          br
          div.col-md-12
            a(href='#', data-toggle='modal', data-target='#orderModal') #{__("Cancel Order")}

  .modal.fade(id='orderModal', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(data-dismiss='modal')
            span &times;
          h4.modal-title &nbsp;
        .modal-body
          p
            | #{__("Delete Message")}
            br
            | #{__("Proceed Question")}
          br
          form(action='/project/delete/#{ project._id }', method='post')
            .row
              .col-md-5
                .form-group
                  a.btn.btn-xlg.btn-block.btn-green-inverse(data-dismiss='modal', href='#') #{__("Undo")}
              .col-md-7
                .form-group
                  button.btn.btn-xlg.btn-block.btn-green(type='submit') #{__("Cancel Order").toUpperCase()}


//- - if (!project.checkHeight || !project.checkLenght || !project.checkWidth)
//-   .row
//-     .col-md-9
//-       .alert.alert-danger
//-         .text-light
//-           | Dimensions of the object might exceed printing sizes.
//-           br
//-           | You can proceed with the order anyway, but if no printer picks it up you might consider resizing the object.

br
br
