-if (user.id == project.order.printer)
  div(role='tabpanel')
    ul.nav.nav-justified.nav-3doers
      li.nav-step.complete
        a(href='#tab-review')
          span.step-one
          | Review
      li.nav-step.complete
        a(href='#tab-accepted')
          span.step-two
          | Accepted
      li.nav-step.complete
        a(href='#tab-printing')
          span.step-three
          | Printing
      li.nav-step.active
        a(href='#tab-shipping')
          span.step-four
          | Shipping
    .tab-content
      .tab-pane.fade(id='tab-review')
        h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
      .tab-pane.fade(id='tab-accepted')
        h4.light 
      .tab-pane.fade(id='tab-printing')
        h4.light
          | You can now proceed with the printing, remember that a faster service will result in a higher rating for you.
          br
          | Once you've completed the order, please click on "ORDER PRINTED" to generate a shipping label.
      .tab-pane.fade.in.active(id='tab-shipping')
        h4.light Print the shipping label, pack the item and attach the label on it.

  .job-review
    h4.job-name #{ project.title }
    .row
      .col-md-8
        .job-details
          .row
            .col-md-5
              figure: img.img-responsive(src='/#{project.image}')
            .col-md-7
              .info
                p
                  strong COLOR:
                  |  #{project.color}
                p
                  strong MATERIAL:
                  |  #{project.material}
                p
                  strong AMOUNT:
                  |  #{project.order.ammount} pieces
                p
                  strong VOLUME:
                  |  #{project.volume} cm3
                p
                  strong WEIGHT:
                  |  #{project.weight} g
                if project.dimension
                  p
                    strong DIMENSIONS:
                    |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
      .col-md-4
        table.job-payment
          tbody
            tr
              td.desc Taxes:
              td.value  #{project.order.taxes} €
            tr
              td.desc 3Doers:
              td.value #{project.order.businessPayment} €
            tr
              td.desc Shipping:
              td.value #{project.order.rate.amount_local } €
            tr.separator
              td(col-span='2')
            tr
              td.desc.text-shadow-3doers Printer:
              td.value
                h3.normal #{project.order.printerPayment} €

- else
  div(role='tabpanel')
          ul.nav.nav-justified.nav-3doers
            li.nav-step
              a(href='#tab-review')
                span.step-one
                | Review
            li.nav-step.active
              a(href='#tab-accepted')
                span.step-two
                | Accepted
            li.nav-step.active
              a(href='#tab-printing')
                span.step-three
                | Printing
            li.nav-step.active
              a(href='#tab-shipping')
                span.step-four
                | Shipping
          .tab-content
            .tab-pane.fade(id='tab-review')
              h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
            .tab-pane.fade(id='tab-accepted')
              h4.light 
            .tab-pane.fade.in.active(id='tab-printing')
              h4.light
                | You can now proceed with the printing, remember that a faster service will result in a higher rating for you.
                br
                | Once you've completed the order, please click on "ORDER PRINTED" to generate a shipping label.
            .tab-pane.fade.in.active(id='tab-shipping')
              h4.light Print the shipping label, pack the item and attach the label on it.

        .alert.alert-primary
          .media
            .media-left
              a(href='#')
                - if (printer.photo)
                  img.media-object(src='/#{ printer.photo}', style='width: 50px; height: 50px')
                - else
                  img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width: 50px; height: 50px')
            .media-body.media-middle
              .message
                | Printed by
                strong  #{printer.firstName}.

        .job-review
          h4.job-name #{ project.title }
          .row
            .col-md-8
              .job-details
                .row
                  .col-md-5
                    figure: img.img-responsive(src='/#{project.image}')
                  .col-md-7
                    .info
                      p
                        strong COLOR:
                        |  #{project.color}
                      p
                        strong MATERIAL:
                        |  #{project.material}
                      p
                        strong AMOUNT:
                        |  #{project.order.ammount} pieces
                      p
                        strong VOLUME:
                        |  #{project.volume} cm3
                      p
                        strong WEIGHT:
                        |  #{project.weight} g
                      if project.dimension
                        p
                          strong DIMENSIONS:
                          |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
            .col-md-4
              table.job-payment
                tbody
                  tr
                    td.desc Taxes:
                    td.value #{project.order.taxes} €
                  tr
                    td.desc 3Doers:
                    td.value #{project.order.businessPayment} €
                  tr
                    td.desc Printer:
                    td.value #{project.order.printerPayment} €
                  tr
                    td.desc Shipping:
                    td.value #{project.order.rate.amount_local } €
                  tr.separator-small
                    td(col-span='2')
                  tr
                    td.desc.text-shadow-3doers Printer:
                    td.value
                      h3.normal #{project.order.totalPrice} €
                  tr
                    td(colspan='2')
                      p.final-price *Final price will include a shipping fee and will be calculated once the order has been accepted by a printer.
