-if (user.id != project.order.printer)
  div(role='tabpanel')
    ul.nav.nav-justified.nav-3doers
      li.nav-step.complete
        a(href='#tab-crete-order')
          span.step-one
          | #{__("Create order")}
      li.nav-step.active
        a(href='#tab-place-order')
          span.step-two
          | #{__("Place order")}
      li.nav-step
        a(href='#tab-accepted')
          span.step-three
          | #{__("Accepted")}
      li.nav-step
        a(href='#tab-printing')
          span.step-four
          | #{__("Printing2")}
      li.nav-step
        a(href='#tab-shipping')
          span.step-five
          | #{__("Shipping")}
    .tab-content
      .tab-pane.fade(id='tab-crete-order')
        h4.light #{__("Preview File")}
      .tab-pane.fade.in.active(id='tab-place-order')
        h4.light
          | #{__("Review Order2")}
          br
          | #{__("Notify Accepted")}
      .tab-pane.fade(id='tab-accepted')
        h4.light #{__("Payment Indication")}
      .tab-pane.fade(id='tab-printing')
        h4.light #{__("Order Is Printing")}
      .tab-pane.fade(id='tab-shipping')
        h4.light
          | #{__("Order Shipped")}
          br
          | #{__("Track Courier")}

  .job-review
    h4.job-name #{ project.title }
    .row
      .col-md-8
        .job-details
          .row
            .col-md-5
              figure
                #wrapper-canvas
                  canvas#cv
            .col-md-7
              .info
                p
                  strong #{__("Color")}:
                  |  #{project.color}
                p
                  strong #{__("Material")}:
                  |  #{project.material}
                p
                  strong #{__("Amount")}:
                  |  #{project.order.ammount} pieces
                p
                  strong #{__("Volume")}:
                  |  #{project.volume} cm3
                p
                  strong #{__("Weight")}:
                  |  #{project.weight} g
                if project.dimension
                  p
                    strong #{__("Dimensions")}:
                    |  #{project.dimension.width} cm (W) #{project.dimension.height} cm (H) #{project.dimension.length}(L)
      .col-md-4
        table.job-payment
          tbody
            tr
              td.desc #{__("Taxes")}:
              td.value #{project.order.taxes} €
            tr
              td.desc Item:
              td.value #{project.order.price} €
            tr
              td.desc #{__("Shipping2")}:
              td.value -
            tr.separator-small
              td(col-span='2')
            tr
              td.desc.text-shadow-3doers #{__("Price Quote")}
              td.value
                h3.normal #{project.orderPrice} €
            tr
              td(colspan='2')
                p.final-price #{__("Price Descr")}
  div
    a(href='#', data-toggle='modal', data-target='#orderModal') #{__("Cancel Order")}

  .modal.fade(id='orderModal', role='dialog')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(data-dismiss='modal')
            span &times;
          h4.modal-title &nbsp;
        .modal-body
          p
            | #{__("Delete Message")}
            br
            | #{__("Proceed Question")}
          br
          form(action='/project/delete/#{ project._id }', method='post')
            .row
              .col-md-5
                .form-group
                  a.btn.btn-xlg.btn-block.btn-green-inverse(data-dismiss='modal', href='#') #{__("Undo")}
              .col-md-7
                .form-group
                  button.btn.btn-xlg.btn-block.btn-green(type='submit') #{__("Cancel Order").toUpperCase()}
  br
  br
