div(role='tabpanel')
  ul.nav.nav-justified.nav-3doers
    li.nav-step.active
      a(href='#tab-crete-order')
        span.step-one
        | Create order
    li.nav-step
      a(href='#tab-place-order')
        span.step-two
        | Place order
    li.nav-step
      a(href='#tab-accepted')
        span.step-three
        | Accepted
    li.nav-step
      a(href='#tab-printing')
        span.step-four
        | Printing
    li.nav-step
      a(href='#tab-shipping')
        span.step-five
        | Shipping
  .tab-content
    .tab-pane.fade.in.active(id='tab-crete-order')
      h4.light Preview your file and decide printing features.
    .tab-pane.fade(id='tab-place-order')
      h4.light
        | Your order is now available for printers to review.
        br
        | You'll be notified once the work is accepted in order to proceed with the final payment.
    .tab-pane.fade(id='tab-accepted')
      h4.light Please proceed with the final payment within the next 24 hours to allow our printer to start working on your order.
    .tab-pane.fade(id='tab-printing')
      h4.light You order is printing. You'll be notified when it's shipped.
    .tab-pane.fade(id='tab-shipping')
      h4.light
        | Your order has been shipped and should be delivered to you in the next 48 hours.
        br
        | You can track it directly from the courrier service website using the code below.

.job-order
  h4.job-name#title(data-type="text", data-url="/project/title/#{project.id}", data-title="Enter the Title") #{ project.title }
  h5.job-volume
    strong VOLUME:&nbsp;
    span#volume.object-volume
      | #{project.volume}
    span.object-volume-unit &nbsp; cm3
  .row
    .col-md-9
      .job-details
        .row
          .col-md-7
            figure
              #wrapper-canvas
                canvas#cv
          .col-md-5
            form.form-3doers(action='/project/order/#{project.id}', method='POST', role='form', accept-charset='utf-8', name='')
              input(type='hidden', name='_csrf', value=csrfToken)
              input(type='hidden', name='authenticity_token')
              .form-group
                select.form-control#color-chooser
                  option(disabled='disabled', selected='selected') What color?
                  - for color in colors
                    option(value="#{color}") #{color}
              .form-group
                select.form-control#material-chooser
                  option(disabled='disabled', selected='selected') What material?
                  - for material in materials
                    option(value="#{material[1]}") #{material[1]}
              .form-group
                input#ammount.form-control(type='text', min='1', placeholder='How many items?', name='ammount')
              .row
                .col-sm-7
                  h4.job-quotation Price quotation*:
                .col-sm-5
                  h3.job-price
                    span#order-price 0
                    span &nbsp; €
              p.text-muted.final-price
                small *Final price will include a shipping fee and will be calculated once the order has been accepted.
              if user
                button#order-button.btn.btn-lg.btn-block.btn-green(type='submit', disabled='disabled') PLACE ORDER
              else
                button#order-button.btn.btn-lg.btn-block.btn-green(type='button', disabled='disabled', data-toggle='modal', data-target="#pleaseLogin") PLACE ORDER


- if (!project.checkHeight || !project.checkLenght || !project.checkWidth)
  .row
    .col-md-9
      .alert.alert-danger
        .text-light
          | Dimensions of the object might exceed printing sizes.
          br
          | You can proceed with the order anyway, but if no printer picks it up you might consider resizing the object.

br
br
