extends /layouts/_app

block content
  .page
    .container
      br
      br
      .row
        .col-md-10.col-md-offset-1
          .row
            .col-md-4
              .step
                img.img-circle(src='/img/icons_printing.png', style='width: 100px; height: 100px;')
            .col-md-4
              .step
                img.img-circle(src='/img/icon-1.png', style='width: 100px; height: 100px;')
            .col-md-4
              .step
                img.img-circle(src='/img/icon-22.png', style='width: 100px; height: 100px;')

    .bg-3doers
      .container
        div(role='tabpanel')
          ul.nav.nav-justified.nav-3doers
            li.nav-step.active
              a(href='#tab-crete-order')
                span.step-one
                | #{__("Create order")}
            li.nav-step
              a(href='#tab-place-order')
                span.step-two
                | #{__("Place order")}
            li.nav-step
              a(href='#tab-accepted')
                span.step-three
                | #{__("Accepted")}
            li.nav-step
              a(href='#tab-printing')
                span.step-four
                | #{__("Printing2")}
            li.nav-step
              a(href='#tab-shipping')
                span.step-five
                | #{__("Shipping")}
          .tab-content
            .tab-pane.fade.in.active(id='tab-crete-order')
              h4.light #{__("Preview File")}
            .tab-pane.fade(id='tab-place-order')
              h4.light
                | #{__("Review Order2")}
                br
                | #__{("Notify Accepted")}
            .tab-pane.fade(id='tab-accepted')
              h4.light #{__("Payment Indication")}
            .tab-pane.fade(id='tab-printing')
              h4.light #{__("Order Is Printing")}
            .tab-pane.fade(id='tab-shipping')
              h4.light
                | #{__("Order Shipped")}
                br
                | #{__("Track Courier")}

        .job-order
          h4.job-name #{project.title}
          h5.job-volume
            strong #{__("Volume")}:
            | 59.7 cm3
          .row
            .col-md-9
              .job-details
                .row
                  .col-md-7
                    figure: img.img-responsive(src='images/job-preview.jpg')
                  .col-md-5
                    form.form-3doers
                      .form-group
                        select.form-control
                          option #{__("What Color")}
                      .form-group
                        select.form-control
                          option #{__("What material")}
                      .form-group
                        input.form-control(type='text', placeholder='#{__("Items Qty")}')
                      .row
                        .col-sm-7
                          h4.job-quotation #{__("Price Quote")}
                        .col-sm-5
                          h3.job-price 0 $
                      p.text-muted.final-price
                        small #{__("Price Descr")}
                      button.btn.btn-lg.btn-block.btn-green(type='submit', disabled='disabled') #{__("Place Order").toUpperCase()}
        .row
          .col-md-9
            .alert.alert-danger
              .text-light
                | #{__("Object Dimensions")}
                br
                | #{__("Proceed With Order")}

        br
        br
